.button-holder {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.button-holder button {
  max-width: 300px;
}

.flip-button {
  align-self: center;
  max-width: 300px;
  min-width: 100px;
  font-size: 30px;
  border-radius: 3px;
  text-align: center;
  font-family: "AwsumSans", sans-serif;
  color: rgb(128, 41, 0);
  background-color: var(--marascoral);
  border: 1px solid blue;
  margin: 3px;
  letter-spacing: 1px;
  z-index: 995;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
}
