.contact-call {
  display: flex;
  justify-content: center;
}

.contact-submit {
  margin-top: 20px;
  margin-left: 20px;
}

.label {
  font-family: system-ui;
  color: purple;
}

.form-control,
.send-button {
  border-radius: 2px;
  width: 100%;
  padding: 10px;
  border: 1px solid gray;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-col {
  padding: 10px 20px;
  box-sizing: border-box;
}

.form-col-full {
  height: 150px;
  padding: 10px 20px;
  box-sizing: border-box;
  /* margin-top: 10px; */
}

.message {
  height: 80px;
}

input textarea {
  font-size: large;
}

@media screen and (max-width: 800px) {
  .contact-sticker {
    top: 180px !important;
    right: 9px;
  }
}

.contact-form {
  padding: 10px;
}
