.contact-page {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 15px;
}

.circle-font {
  color: lightgreen !important;
  font-size: 30px !important;
}

.close-contact {
  padding: 0;
  font-size: 30px;
  border: none;
  background-color: transparent;
  color: lavender;
  justify-content: end;
  margin: 0 15px;
  display: flex;
  width: 100%;
}

.close-contact:hover {
  color: lightgreen !important;
  cursor: pointer;
}

.contact-call {
  display: flex;
  justify-content: center;
}

.label {
  font-family: "Urbanist", sans-serif;
  color: purple;
}

.form-control,
.send-button {
  border: 1px solid var(--color1);
  border-radius: 2px;
  width: 100%;
  padding: 10px;
  font-family: "Urbanist", sans-serif;
  box-shadow: 2px 3px 14px 0 rgba(0, 0, 0, 0.2),
    2px 3px 4px 0 rgba(0, 0, 0, 0.19);
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-col {
  padding: 10px;
  box-sizing: border-box;
}

.form-col-full {
  width: 100%;
  padding: 10px;
  flex: 1;
}

.contact-form-div {
  display: flex;
}

.contact-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 25px 20px 10px;
  position: relative;
}

.message {
  height: 80px;
}

input textarea {
  font-size: large;
}

@media screen and (max-width: 800px) {
  .contact-sticker {
    top: 180px !important;
    right: 9px;
  }

  .contact-form {
    padding: 20px 45px 20px 30px !important;
  }

  .send-button {
    font-size: small;
  }
}
