.donation-page {
  height: 100vh;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
}

.donation {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  border-radius: 8px;
  width: 60% !important;
  height: 90% !important;
}

.donation-form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 6px;
}

/* .iframe-container {
  padding: 0 15px;
} */

.iframe {
  height: 100% !important;
}
