.form-container {
  width: 80%;
  margin: 2em auto;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;
}

.input-group label {
  margin: 5px 15px 3px 2px;
}

.checkbox-row {
  display: flex;
  justify-content: start;
  margin-bottom: 10px;
}

.day-column {
  width: 225px;
}

.form-container {
  /* padding: 20px; */
  overflow-y: scroll;
  height: 95vh;
  box-sizing: border-box;
}

.geo-form .input-group {
  margin-bottom: 1em;
}

.geo-input {
  width: 100%;
  padding: 0.8em;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.geo-input:focus {
  border-color: #007bff;
  outline: none;
}

.input-group label {
  margin: 5px 15px 3px 2px;
}

.delete-button {
  color: maroon;
  border: 1px solid red;
  background-color: salmon;
  margin: 10px;
  padding: 3px;
  border-radius: 3px;
}
