/* Form container */
.form-container {
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  background-color: white;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Neutraface Text", sans-serif;
  width: 100%;
  justify-self: center;
  align-self: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-family: "Neutraface Text", sans-serif;
}

/* Scrollbar styles */
.form-container::-webkit-scrollbar {
  width: 8px;
}

.form-container::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
}

/* Description field */
#description {
  height: 140px;
  resize: vertical;
  line-height: 1.2;
  font-family: "Neutraface Text", sans-serif;
}

/* Input group */
.input-group {
  width: 100%;
  max-width: 700px;
  margin: 0 0 15px 0;
}

.input-group label {
  font-size: 16px;
  font-weight: 500;
  color: var(--color2);
  display: block;
  margin-bottom: 5px;
}

/* Form styles */
.geo-form {
  padding: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

/* Inputs */
.geo-input,
.time-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.3s;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Neutraface Text", sans-serif;
}

.geo-input:focus,
.time-input:focus {
  border-color: var(--green2); /* Change to a consistent green theme */
  outline: none;
}

/* Checkbox styling */
.checkbox-row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox-group input[type="checkbox"] {
  accent-color: var(--marascoral); /* Red-orange accent color */
  width: 18px;
  height: 18px;
  cursor: pointer;
}

/*  and Update buttons */
.delete-button {
  /* color: white; */
  border: none;
  /* background-color: red; */
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  justify-self: flex-end;
  align-self: flex-end;
  border: 1px solid red;
  margin-top: 100px;
}

.clear-button {
  width: 100px;
  place-self: flex-end;
  margin: 5px 0px;
  border-radius: 4px;
  font-size: 12px;
  border: 1px solid red;
  padding: 3px;
}

.delete-button:hover {
  background-color: red;
}

.update-button {
  background-color: lightgreen;
  /* color: white; */
  padding: 5px;
  border-radius: 5px;
  /* font-weight: bold; */
  cursor: pointer;
  transition: background-color 0.3s;
  width: 150px;
  border: 1px solid gray;
  font-size: 20px;
  justify-self: flex-end;
  /* align-self: flex-end; */
  margin-top: 30px;
}

.update-button:hover {
  background-color: var(--newGreen); /* A lighter shade of green */
}

/* Time group layout */
.time-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

/* Media queries */
@media screen and (max-width: 700px) {
  .form-container {
    width: 90%;
    height: 100vh;
    padding: 15px;
  }

  .geo-input,
  .time-input {
    font-size: 14px;
    padding: 8px;
  }

  .update-button {
    font-size: 16px;
    padding: 10px;
  }
}
