.email-list-container {
  position: relative;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-list-container p {
  letter-spacing: 2px;
  color: blue;
  text-decoration: none;
  font-size: 12px;
  z-index: 995;
  margin: 7px 0;
}

.socials {
  display: flex;
  font-size: xx-large;
  color: var(--marascoral);
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 5px;
  margin-bottom: 10px;
}

.socials i:hover {
  color: blue;
}

.emailListInput {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--marascoral) !important;
  background-color: transparent;
  min-width: 150px;
}

.email-list-input-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-list-input-div,
.email-list-button-div {
  margin: 0;
  font-size: large;
  letter-spacing: 1.2px;
}

.email-list-form {
  display: flex;
}

.email-logo {
  width: 150px;
  display: none;
}

.email-list-container {
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .email-logo {
    display: block;
  }

  .email-list-form {
    width: 100% !important;
  }
}
