.scroll-favorites {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.close-modal a {
  color: black;
  margin: 10px 0 0 0;
  text-decoration: none;
  margin: 10px;
  font-size: 14px;
}

.close-modal a:hover {
  color: gray;
  cursor: pointer;
}

.favorites-page {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
