.footer {
  display: none;
}

.foot {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  z-index: 9998;
  width: 350px;
  padding-bottom: 5px;
}

.foot p {
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
}

/* Footer */

.footer-logo {
  max-width: 120px;
  margin: 50px 15px 15px 15px;
}

.footer-insta {
  max-width: 50px;
  margin: 10px 15px 0px 0px;
}

.footer-twitter {
  max-width: 45px;
  max-height: 45px;
  margin: 10px 15px 0px 0px;
}

.socials {
  display: flex;
  width: 200px;
  justify-content: space-around;
  margin-top: 10px;
}

@media screen and (max-width: 700px) {
  .foot {
    width: 100vw !important;
  }
}
