.modalContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
  padding: 20px;
  border-top: 2px solid gray;
  border-radius: 5px;
}

.map-container-treasure {
  border: 5px solid var(--yellow);
  border-radius: 3px;
  margin-top: 40px;
}

hr {
  height: 5px;
  color: purple;
  margin: 25px;
  width: 100%;
}

.modal-overlay-treasure {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #464646;
  display: flex;
  justify-content: center;
  z-index: 9999;
}

.modal-content-treasure {
  width: 80% !important;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resources-list::-webkit-scrollbar-track {
  background-color: transparent;
}

.resources-list::-webkit-scrollbar {
  width: 7px;
}

.resources-list::-webkit-scrollbar-thumb {
  background-color: lightgreen;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.modal-close-treasure {
  position: absolute;
  top: 5px;
  right: 10px;
  border: none;
  background: none;
  font-size: 30px;
  cursor: pointer;
  color: lavender;
}

.modal-close-treasure:hover,
.modal-close-treasure:focus {
  color: lightgreen;
}

.text-area {
  height: 80%;
  width: 100%;
  border: none;
}

.noPadding {
  padding: 0 !important;
}

.body-no-scroll {
  overflow: hidden !important;
  height: 100% !important;
}

.option {
  margin: 5px 0;
  text-decoration: none;
  color: rgb(128, 41, 0);
}

.option:hover {
  color: lightgreen !important;
  cursor: pointer;
}

.options {
  position: fixed;
  top: -14px;
  left: 0;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-family: "AwsumSans", sans-serif;
  margin: 15px 0;
  border: 2px solid blue;
  background-color: var(--marascoral);
  opacity: 0.99;
  border-radius: 100%;
  padding: 30px;
  z-index: 99;
}

.title-box {
  display: flex;
  font-size: 25px;
  justify-content: center;
  font-family: "AwsumSans", sans-serif;
  margin: 10px 0;
  text-align: center;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.resources-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
}

.number-box {
  font-size: 30px;
  width: 50px;
  font-family: "AwsumSans", sans-serif;
  color: rgb(128, 41, 0);
  justify-content: center;
  display: flex;
  background-color: var(--marascoral);
  border: 1px solid blue;
  margin-left: 20px;
  border-radius: 100%;
}

.resource-category-icons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.resource-category-icons i {
  font-size: 25px;
}

@media screen and (max-width: 1000px) {
  .modal-content-treasure {
    width: 80% !important;
  }
}

@media screen and (max-width: 700px) {
  .title-box {
    font-size: 20px !important;
    margin: 3px 0 !important;
  }
}
@media screen and (max-width: 600px) {
  .option {
    font-size: 14px;
  }
}
