@font-face {
  font-family: "AwsumSans";
  src: url("/fonts/AwsumSans-BF64c0855677e49.ttf") format("truetype"),
    url("/fonts/AwsumSans-BF64c085572b0a6.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.modalContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.modal-overlay-treasure {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  /* align-items: center; */
  z-index: 99999;
}

hr {
  height: 5px;
  color: purple;
  margin: 25px;
}

.modal-content-treasure {
  position: fixed;
  top: 0px;
  width: 80%;
  height: 100%;
  background: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  z-index: 999;
}

.modal-close-treasure {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 1.5em;
  cursor: pointer;
}

.modal-close-treasure:hover,
.modal-close-treasure:focus {
  color: #ff0000;
}

.text-area {
  height: 80%;
  width: 100%;
  border: none;
}

.noPadding {
  padding: 0 !important;
}

.body-no-scroll {
  overflow: hidden !important;
  height: 100% !important;
}

.option:hover {
  color: lightgreen;
  cursor: pointer;
}

.options {
  color: rgb(242, 78, 59);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: large;
  margin-top: 20px;
}

.title-box {
  display: flex;
  font-size: 30px;
  justify-content: center;
  font-family: "AwsumSans", sans-serif;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.resources-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.number-box {
  font-size: 30px;
  font-family: "AwsumSans", sans-serif;
  color: rgb(128, 41, 0);
  width: 100%;
  margin-left: 20px;
}
.resource-category-icons {
  display: flex;
  justify-content: center;
}

.resource-category-icons i {
  margin: 15px;
}
