.geo-modal {
  background-color: white;
  width: 250px;
  height: 250px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.find-location {
  cursor: pointer;
  background-color: transparent;
  color: black;
  font-weight: 100;
  border: none;
  font-size: 18px;
  transition: 0.3s ease-in-out;
  margin: 10px;
}

.find-location:hover {
  color: salmon !important;
}
