.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0.9, 0, 0, 0.8);
  z-index: 9998;
}

.search-results-full {
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.group-div {
  display: flex;
}

.flex {
  display: flex;
  width: 100%;
}

.results-message {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow);
  border: 1.5px solid var(--coral2);
  font-size: 16px;
  font-family: "Urbanist", sans-serif !important;
  padding: 0 5px;
  margin: 20px 0 0 0;
  z-index: 999;
  letter-spacing: 1.1px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2), 1px 2px 6px rgba(0, 0, 0, 0.2);
}

.results-message p {
  margin: 20px 0;
  text-wrap: nowrap;
}

.results-message p:hover {
  cursor: pointer;
  color: lightgreen;
}

.message-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row !important;
  background-color: rgb(196, 237, 208) !important;
  border-color: darkgreen !important;
  justify-self: center;
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.message-1 p {
  margin: 20px 0 0 0;
  border-bottom: 4px wavy lightgreen;
}

.message-3 {
  padding: 10px !important;
  margin-bottom: 20px;
}

.message-3 p {
  margin: 0 0 5px 0 !important;
}

.need-today-option input {
  margin: 0 10px;
}
.step-text p {
  margin: 10px;
}

.step-1 {
  display: flex;
  font-family: "Urbanist", sans-serif;
  font-size: medium;
  font-weight: bolder;
  align-items: center;
  background-color: transparent;
  z-index: 9999;
  flex-direction: column;
  padding: 35px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.step-text {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}

.step1-text {
  height: 100%;
}

.step-1 p {
  margin-bottom: 0;
}

.modal-div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  border: none;
  background-color: transparent;
  min-width: 90%;
  display: flex;
  justify-content: center;
}

.my-resource-card {
  border: 1px solid lightgray;
  justify-content: center;
  display: flex;
  background-color: #eeeeee;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2), 1px 2px 3px rgba(0, 0, 0, 0.2);
  align-items: center;
  padding: 4px;
  max-width: 250px;
  border-radius: 1%;
  min-height: 150px;
  width: 200px;
}

.resource-card-header {
  background-color: #eeeeee;
  padding: 2px;
  margin: 3%;
  border: none;
  min-height: 20%;
  display: flex;
  justify-content: between;
}

.card-title-div {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-logo {
  width: 40%;
  height: auto;
  z-index: 0;
  top: 200px;
  opacity: 0.9;
}

.scroll-search-results ul::-webkit-scrollbar-thumb {
  display: hidden;
}

.spacing-scroll-warning {
  margin-top: 67px;
}

.new-container {
  display: flex;
  justify-content: center;
}

.scroll-warning {
  width: 100%;
  display: flex;
  justify-content: end;
  color: var(--green);
  font-family: "Urbanist", sans-serif !important;
  font-size: 15px;
  letter-spacing: 3px;
  padding: 40px 20px 0px 0px;
  margin: 2px;
  text-shadow: -1px -1px 0 rgb(38, 127, 47), 1px -1px 0 rgb(38, 127, 47),
    -1px 1px 0 rgb(38, 127, 47), 1px 1px 0 rgb(38, 127, 47);
}

.scroll-headers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-log2 {
  height: 100px;
  width: 300px;
}

@media screen and (max-width: 900px) {
  .new-container {
    flex-direction: column !important;
  }
}

@media screen and (max-width: 700px) {
  .map-container {
    max-height: 700px !important;
  }
}

@media screen and (max-width: 440px) {
  .scroll-search-results li {
    margin: 10px 8px 5px 8px !important;
  }

  .results-message {
    font-size: 12px;
  }

  .map-container {
    max-height: 700px !important;
  }
}
