.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0.9, 0, 0, 0.8);
  z-index: 9998;
}

.modal-div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  border: none;
  background-color: transparent;
  min-width: 90%;
  display: flex;
  justify-content: center;
}

.scroll-search-results {
  display: grid !important;
  width: 100%;
  margin: 10px 0px 15px 0px;
  border: 1px solid pink;
  background-color: rgb(195, 188, 199);
  position: relative !important;
  z-index: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
  overflow-x: auto;
  overflow-y: hidden;
}

.scroll-search-results ul {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  padding: 0 0 0 10px !important;
  margin: 0 !important;
  width: 100%;
  display: flex;
}

.scroll-search-results li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  flex: 0 0 auto;
}

.home-logo {
  width: 40%;
  height: auto;
  position: absolute;
  z-index: 0;
  top: 200px;
  opacity: 0.9;
}
.scroll-search-results ul::-webkit-scrollbar-track {
  background-color: transparent;
}

.scroll-search-results ul::-webkit-scrollbar {
  color: orange;
}

.search-results-full {
  flex-direction: column;
  margin: 0;
  width: 100vw;
  flex-direction: row;
}

.search-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.scroll-search-results ul::-webkit-scrollbar-thumb {
  display: hidden;
}

.spacing-scroll-warning {
  margin-top: 67px;
}

.results-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow);
  border: 1.5px solid var(--coral2);
  font-size: 20px;
  font-family: "Urbanist", sans-serif !important;
  padding: 0 5px;
  margin: 20px 0 0 0;
  z-index: -1;
  letter-spacing: 1.1px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2), 1px 2px 3px rgba(0, 0, 0, 0.2);
}

.results-message p {
  margin: 20px 0 0 0;
}

.grid-item p {
  margin: 0 !important;
}

.new-container {
  /* margin-top: 50px; */
  display: flex;
  justify-content: center;
}

.scroll-warning {
  width: 100%;
  display: flex;
  justify-content: end;
  color: var(--green);
  font-family: "Urbanist", sans-serif !important;
  font-size: 15px;
  letter-spacing: 3px;
  padding: 40px 20px 0px 0px;
  margin: 2px;
  text-shadow: -1px -1px 0 rgb(38, 127, 47), 1px -1px 0 rgb(38, 127, 47),
    -1px 1px 0 rgb(38, 127, 47), 1px 1px 0 rgb(38, 127, 47);
}

.card-icon {
  font-size: large;
  margin: 5px;
}

@media screen and (max-width: 800px) {
  /* .scroll-warning {
    justify-content: center !important;
  } */

  /* .scroll-search-results li {
    margin: 10px 8px 16px 8px !important;
  } */
  .new-container {
    flex-direction: column !important;
  }

  .my-resource-card {
    min-width: 22vw !important;
  }

  .card-icon {
    font-size: large;
    margin: 0;
  }

  .card-img {
    width: 100%;
    object-fit: cover;
    max-height: 100px;
  }

  .selection-container-home {
    margin-bottom: 50px;
  }

  .what-type {
    min-height: 95vh !important;
  }

  .results-message {
    display: none;
  }
}

/* ______________________________________________________________SIZE < 420px */

@media screen and (max-width: 440px) {
  .my-resource-card {
    min-width: 25vw !important;
    height: 200px;
  }

  .scroll-search-results li {
    margin: 10px 8px 5px 8px !important;
  }
}

.selection-container-home {
  display: flex;
  justify-content: center;
  width: 100%;
}

.scroll-headers {
  width: 100%;
}
