.deckopen-icon-nav {
  border-radius: 3px;
  text-align: center;
  z-index: 9999;
  margin: 3px;
  display: flex;
}

.deckopen-icon-nav:hover {
  color: var(--marascoral) !important;
}

.grand-resilio-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.saved {
  position: absolute;
  top: -5px;
  right: -5px;
}

.savedButton {
  margin-top: 3px !important;
  background-color: transparent !important;
  font-size: 50px !important;
}

.deckopen-icon-nav {
  background-color: rgb(211, 241, 212);
  padding: 6px;
  border: 1px solid blue;
}

.search-results-full {
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.group-div {
  display: flex;
}

.flex {
  display: flex;
  width: 100%;
}

.modal-div {
  width: 350px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 99999999;
  border: none;
  flex-direction: column;
  display: flex;
  /* justify-content: space-between; */
  padding: 15px;
  box-sizing: border-box;
  overflow-y: scroll !important;
  scroll-behavior: smooth;
}

.scroll-search-results ul::-webkit-scrollbar-thumb {
  display: hidden;
}

.new-container {
  display: flex;
  justify-content: center;
}

.home-log2 {
  height: 100px;
  width: 300px;
}

.map-container {
  border: 2px solid lavender;
  border-radius: 7px;
  min-height: 300px;
  overflow: hidden;
}

.function-buttons {
  display: flex;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  justify-content: space-between;
}

.all-rights {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  color: rgb(149, 149, 149);
}

/* #zipcode {
  border-radius: 3px;
  text-align: center;
  height: 30px;
  border: 1px solid black;
}

#zipcode:focus {
  outline: none;
} */

.geo-button {
  border-radius: 3px;
  text-align: center;
  height: 30px;
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2); */
}

.geo-button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.29), 0 4px 10px 0 rgba(0, 0, 0, 0.29);
  cursor: pointer;
}

.donation-modal {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999999;
  height: 100%;
  background-color: white;
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

/* .search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
} */

.search-bar input,
#zipcode {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  /* border: 2px solid gray; */
}

.search-bar {
  display: flex;
  align-items: center;
  position: relative;
  background: white;
  border: 1px solid gray; /* Example border to mimic input */
  border-radius: 4px; /* Optional: if you want rounded corners */
}

.search-bar input {
  border: none;
  padding-left: 40px;
  width: 100%;
}

.search-bar .search-icon {
  position: absolute;
  left: 10px;
  font-size: 20px;
}

.search-bar input:focus {
  outline: none;
}

.search-bar input::placeholder {
  /* font-size: 20px; */
  color: gray;
}

#zipcode {
  max-width: 100px;
  align-self: center;
}

@media screen and (max-width: 700px) {
  .map-container {
    height: 30vh !important;
    width: 100vw !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
  }

  .modal-div {
    width: 100% !important;
  }
}
