.hover-card {
  background-color: white;
  z-index: 99999999 !important;
  border-radius: 3px;
  padding: 5px;
  border: 1px solid gray;
  position: absolute;
  cursor: pointer;
}

.hover-title {
  /* width: 100%; */
  font-size: 30px;
  z-index: 99999999 !important;
}

.hover-card:hover {
  cursor: pointer !important;
}
