@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@font-face {
  font-family: "Neutraface Text";
  src: url("/fonts/Neutraface-Text-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Neutraface Text";
  src: url("/fonts/Neutraface-Text-Light-Italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Neutraface Text";
  src: url("/fonts/Neutraface-Text-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Neutraface Text";
  src: url("/fonts/Neutraface-Text-Book-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Neutraface Text";
  src: url("/fonts/Neutraface-Text-Demi.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Neutraface Text";
  src: url("/fonts/Neutraface-Text-Demi-Italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Neutraface Text";
  src: url("/fonts/Neutraface-Text-Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Neutraface Text";
  src: url("/fonts/Neutraface-Text-Bold-Italic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

:root {
  --peruish: rgb(149, 84, 19);
  --newGreen: rgb(67, 172, 67);
  --marascoral: rgb(246, 134, 68);
  --coral2: rgb(245, 112, 79);
  --peach: rgb(249, 183, 173);
  --green: rgb(170, 255, 200);
  --green2: rgb(48, 129, 69);
  --yellow: #f9d783;
  --new: rgb(129, 100, 129);
}

#root {
  height: 100% !important;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

.close-contact {
  font-size: 20px;
  border: none;
  z-index: 9999999;
  align-self: flex-end;
  color: gray;
}

.close-contact:hover {
  color: black !important;
  cursor: pointer;
}

.back-container {
  width: 100%;
}

.scroll-title {
  font-size: 20px;
  text-align: center;
}

.no-scroll {
  overflow: hidden !important;
  height: 100%;
}

body {
  position: relative;
  overflow: hidden !important;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "Neutraface Text", sans-serif;
}

.button-container-sidebar {
  width: 100%;
  justify-content: space-between !important;
  align-items: center;
  z-index: 999;
  box-sizing: border-box;
  padding: 5px 10px;
}

.grand-map-container {
  margin: 0;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible !important;
  min-height: 100vh;
  padding-left: 350px;
}

.form-check-inline {
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.left-arrow-filter {
  width: 15px;
  transform: scaleX(-1);
  margin-right: 5px;
}

.right-arrow-filter {
  width: 15px;
  margin-left: 5px;
}

.form-check {
  display: flex !important;
  margin: 10px;
  min-height: none !important;
}

.schedule {
  font-size: large !important;
  letter-spacing: 4px;
  margin-top: 10px;
}

.form-check-label {
  font-size: 18px;
  letter-spacing: 1.4x;
}

.checkbox-row {
  display: flex;
  justify-content: start;
  margin-bottom: 10px;
}

.submit {
  width: 100%;
  color: white;
}

.submit:hover {
  background-color: #1565c0;
}

.swal2-container {
  z-index: 9999999999;
}

.list-container::-webkit-scrollbar {
  width: 12px;
}

.list-container::-webkit-scrollbar-track {
  background: transparent;
}

.list-container::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 10px;
  border: 2px solid transparent;
  box-shadow: inset 0 0 0 1px gray;
}

/* ______________________________________________________________SIZE < 700px */

@media screen and (max-width: 700px) {
  .checkbox-row {
    margin: 0;
  }
}
