body {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #fcf5ed;
}

:root {
  --peruish:  rgb(235, 189, 142);
  --coral: rgb(255, 123, 116);
  --coral-rgb: rgb(255, 123, 116);
  --coral2: rgb(245, 112, 79);
  --peach: rgb(249, 183, 173);
  --green: rgb(170, 255, 200);
  --green2: rgb(48, 129, 69);
  --yellow: #f9d783;
  width: 100vw;
  overflow-x: hidden;
}

.radio {
  border-radius: 2px !important;
  border: solid 1px lightgray;
}

.radio-label {
  color: gray
}

.what-type {
  min-height: 380px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

/* ________________________HOME */


.home-logo {
  width: 40%;
  height: auto;
  position: absolute;
  z-index: 0;
  top: 200px;
  opacity: 0.9;
}

/* ____________________________________________CAROUSEL */
.carousel-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.carousel {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 500px;
  height: 400px;
  overflow: hidden;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
}

.arrow-button {
  border: none;
  padding: 15px;
  background-color: transparent;
  top: 50%;
  z-index: 2;
}

.left-arrow {
  width: 20px;
  transform: scaleX(-1) translateY(-50%);
  left: 0px;
  position: absolute;
}

.right-arrow {
  width: 20px;
  transform: translateY(-50%);
  right: 0px;
  position: absolute;
}

/* _____________________________________________________________RESOURCE INFO  */
.resource-name {
  display: flex;
  justify-content: center;
}

.res-map-container {
  width: 33%;
  height: 100%;
  margin: 20px;
}

.res-map-container-2 {
  width: 33%;
  height: 100%;
}

.carousel-description-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.info-map-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.resource-card-text {

  font-size: medium;
  color: black;
  line-height: 1.5;
  text-decoration: none;
}

.resource-image {
  border: 1px solid lime;
  border-radius: 1%;
  width: 400px;
  margin: 00px 20px 20px 20px;
}

.details-column {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sched-div {
  padding: 0 !important;
}

.details-column div {
  padding-top: 10px;
}

.description {
  font-family: "Carme", sans-serif;
  line-height: 2;
  display: flex;
  justify-content: center;
  margin: 0;
}

.description-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  text-align: justify;
  padding: 35px 41px 5px 41px;
}

.description-heading {
  font-weight: bolder;
  font-size: 23px;
}

/* _____________________________________________________________CARD */

.card-body {
  padding: 0 !important;
  height: 45%;
  display: flex;
  justify-content: center;
}

.card-img {
  max-width: 90%;
  margin-bottom: 20px;
  object-fit: cover;
  max-height: 100px;
  /* 120px; */
  margin-bottom: 5px;
}

.card-inner {
  width: 100%;
  height: 100%;
}

.card-image-container {
  display: flex;
  justify-content: center;
  /* height: 150px; */
  overflow: hidden;
}

.my-resource-card {
  border: 1px solid lightgray;
  justify-content: center;
  display: flex;
  background-color: #eeeeee;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.29), 0 4px 10px 0 rgba(0, 0, 0, 0.29); */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2), 1px 2px 3px rgba(0, 0, 0, 0.2);
  align-items: center;
  padding: 4px;
  max-width: 250px;
  border-radius: 1%;
  min-height: 150px;
  width: 200px;
  height: 100%;
  margin: 10px 1px 0px 2px;

}

.resource-card-header {
  background-color: #eeeeee;
  padding: 2px;
  margin: 3%;
  border: none;
  min-height: 20%;
  display: flex;
  justify-content: between;
}

.card-title-div {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 8px; */
}

.resource-title {
  color: black;
  font-family: "Urbanist", sans-serif;
  font-size: medium;
  font-weight: bolder;
  margin: 0;
  padding: 5px;
}

.card-icon {
  color: var(--green2);
  font-size: large;
  margin: 5px;
}

.card-icon-2 {
  color: var(--green2);
  font-size: x-large;
  margin-left: 20px;
}

/* _____________________________________________________________FOOTER*/

.new-container {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  flex-direction: column;
}


.footer {
  margin-top: auto;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(235, 189, 142);
}


/* _________________________________________MODAL */

.modal-close-div {
  display: flex;
  justify-content: center;
  align-items: start !important;
  position: absolute;
  top: 0;
  right: 0;
}

.modal-title-div {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
}

.modal-title-div p {
  margin: 0;
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  color: #000;
  font-size: x-large;
  border: 4px solid rgb(6, 90, 6);
  background-color: lightgreen;
  border-radius: .3rem;
}

.modal-footer {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80px;
  width: 100%;
  flex-wrap: nowrap;
  margin-top: 40px;
}

.modal-title {
  font-family: "Urbanist", sans-serif;
  font-size: xx-large;
}

.modal-content {
  margin: 20px;
  width: 85%;
  max-width: 850px;
  outline: 4px solid var(--coral);
  outline-offset: 5px;
}

.modal-body {
  background-color: rgb(250, 233, 227);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  overflow-x: hidden;
  overflow-y: scroll !important;
  scroll-behavior: smooth;
  padding-top: 40px;
}

.resource-info {
  display: flex;
  width: 100%;
justify-content: center;
flex-direction: column;
align-items: center;
}

.modal-div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  border: none;
  background-color: transparent;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(.9, 0, 0, 0.8);
  z-index: 9998;
}

body.modal-open {
  overflow: hidden;
  height: 100%;
  position: fixed;
  width: 100%;
}

.offering-card {
  width: 90%;
}

/* ---------------------------------------------------------------------SEARCH PAGE */
.info {
  display: flex;
  margin-bottom: 10px;
}

.info i {
  margin-right: 10px;
}


.form-check {
  display: flex;
  justify-content: space-between;
}

.description-buttons {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}



@keyframes wiggle {
  0% {
    transform: translateX(-8px);
  }

  50% {
    transform: translateX(6px);
  }

  100% {
    transform: translateX(-8px);
  }
}

.fa-arrow-right {
  margin: 6px 0px 0px 10px;
  animation: wiggle 5s infinite;
}

.scroll-search-results {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  direction: unset;
  margin: 10px 0px 15px 0px;
  border: 1px solid pink;
  background-color: rgb(213, 195, 220);
  position: relative !important;
  z-index: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
  overflow-x: auto;
  overflow-y: hidden;
}


.scroll-search-results ul {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  display: flex;

}

.scroll-search-results li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 8px 10px 8px;
  flex: 0 0 auto;
}

.scroll-search-results ul::-webkit-scrollbar-track {
  background-color: transparent;
}

.scroll-search-results ul::-webkit-scrollbar {
  color: orange;
}

.resource-card-title-name {
  font-size: medium;
}

.grand-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
  /* background-color: rgb(208, 166, 124); great color */
  background-color: var(--peruish);

}

/* _____________________________________________________________Selection-*/


.search-results-full {
  flex-direction: column;
  margin: 0;
  width: 100vw;
  flex-direction: row;

}

.grand-container {
  margin: 0;
}

.form-check-inline {
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.left-arrow-filter {
  width: 15px;
  transform: scaleX(-1);
  margin-right: 5px;
}

.right-arrow-filter {
  width: 15px;
  margin-left: 5px;
}

hr {
  border: none;
  height: 2px;
  background-color: black;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  bottom: 4px;
  left: 2px;
  background-color: white;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: var(--coral);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--coral2);
}

input:checked+.slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.my-form-check {
  display: flex;
  align-items: center;
  margin: 3px 0px 0px 0px;
}

.scroll-warning {
  width: 100%;
  display: flex;
  justify-content: end;
  color: var(--green);
  font-family: "Urbanist", sans-serif !important;
  font-size: 15px;
  letter-spacing: 3px;
  padding: 40px 20px 0px 0px;
  margin: 2px;
  text-shadow: -1px -1px 0 rgb(38, 127, 47), 1px -1px 0 rgb(38, 127, 47), -1px 1px 0 rgb(38, 127, 47), 1px 1px 0 rgb(38, 127, 47);
}

.search-container {
  word-wrap: wrap;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.gm-style-cc {
  display: none;
}

.my-label {
  font-family: "Urbanist", sans-serif !important;
  font-size: medium;
  letter-spacing: 3px;
}

.tell-us {
  font-family: "Urbanist", sans-serif;
  font-size: 35px;
  letter-spacing: 1.3x;
  margin-bottom: 30px;
}

.form-check {
  display: flex !important;
  margin: 10px;
  min-height: none !important;
}

.schedule {
  font-size: large !important;
  letter-spacing: 4px;
  margin-top: 10px;
}

.form-check-label {
  font-family: "Carme", sans-serif;
  font-size: 18px;
  letter-spacing: 1.4x;
}

/* ___________________________________________MAP SETTINGS */
#zipcode {
  border: 1.5px solid var(--coral2);
  border-radius: 3px;
  text-align: center;
  background-color: var(--yellow);
  height: 30px;
  width: 120px;
  padding: 0px;
  margin: 5px;
}

#zipcode:focus {
  outline: none;
}


.or {
  margin: 5px;
}

.geo-button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.29), 0 4px 10px 0 rgba(0, 0, 0, 0.29);
  cursor: pointer;
}

/* _____________________________________________________________CONTACT PAGE */
.contact-page {
  margin: 80px;
  display: flex;
  justify-content: center;
}

.submit {
  border: 1px solid var(--green2);
  font-family: "Carme", sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(189, 235, 189);
  width: 100%;
  height: 30px;
  background-color: rgb(234, 153, 143);
  font-size: medium;
  border: 1px solid rgb(164, 212, 164);
  cursor: pointer;
  transition: background-color 0.3s;
  letter-spacing: 1.1px;
  margin-top: 20px;
}

.submit:hover {
  background-color: lightgreen;
  border: 2px solid rgb(234, 153, 143);
}

.contact-page {
  margin: 15px;
  padding-top: 80px;
}

.carousel-description-div {
  flex-direction: column;
}

.modal-map {
  width: 100% !important;
}

.details-div {
  width: 100%;
  justify-content: center;
  display: flex;
}


/* ______________________________________________________________SIZE < 700px */
@media screen and (max-width: 700px) {

  .description-div {
    width: 90% !important
  }

  .scroll-warning {
    justify-content: center !important;

  }

  .description-div {
    padding: 30px 30px 0px 30px !important;
  }

  .scroll-search-results li {
    margin: 10px 8px 16px 8px !important;
  }

  .carousel {
    width: 95%;
    height: 280px;
    overflow: hidden;
  }

  .my-label {
    margin: 0px 0px 0px 6px !important;
    font-size: small !important;
  }

  .checkbox-row {
    margin: 0;
  }

  .tell-us {
    font-size: 18px;
  }

  .favorites-col {
    width: 40vw;
  }

  .details {
    width: 100% !important;
  }

  .my-resource-card {
    min-width: 22vw !important;
  }

  .resource-title {
    font-size: 16px !important;
  }

  .card-icon {
    font-size: large;
    margin: 0;
  }

  .card-img {
    width: 100%;
    object-fit: cover;
    max-height: 100px;
  }

  .form-check-label {
    font-size: 14px;
  }

  .resource-card-text {
    font-size: medium;
  }

  .my-schedule-button.scroll-warning {
    font-size: 15px;
  }

}

/* ______________________________________________________________SIZE < 420px */

@media screen and (max-width: 420px) {
  .my-resource-card {
    min-width: 25vw !important;
    height: 200px;
  }

  .scroll-search-results li {
    margin: 10px 8px 5px 8px !important;
  }
}

/* _____________________________________________________________MAP */
.marker {
  position: relative;
  display: inline-block;
}

.marker-icon i {
  color: var(--coral2);
  font-size: x-large;
}

.marker-text {
  color: salmon(208, 87, 74);
  z-index: 100;
  font-size: large;
  background-color: rgba(255, 255, 255, 0.8) !important;
  border: 2px solid var(--coral) !important;
}

.marker-icon span {
  position: absolute;
  top: -26px;
  left: -15px;
  background-color: #fff;
  padding: 4px;
  border-radius: 4px;
  white-space: nowrap;
}



.map-info {
  display: flex;
  justify-content: center;
}

.scroll-search-results ul::-webkit-scrollbar-thumb {
  display: hidden;
}

.circle-font {
  display: flex;
  justify-content: center;
  margin: 12px 0px;
}

.checkbox-row {
  display: flex;
  justify-content: start;
  margin-bottom: 10px;
}

.form-container {
  width: 80%;
  margin: 2em auto;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;
}

.geo-form .input-group {
  margin-bottom: 1em;
}

.geo-input {
  width: 100%;
  padding: 0.8em;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.geo-input:focus {
  border-color: #007BFF;
  outline: none;
}

.input-group label {
  margin: 5px 15px 3px 2px;
}

.map-settings-buttons {
  display: flex;
}

.locating-message {
  color: var(--coral2);
  font-family: "Urbanist", sans-serif;
}

/* Footer */
.legal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  max-width: 120px;
  margin: 50px 15px 15px 15px;
  /* animation: breathe 35s infinite; */
}


.footer-insta {
  max-width: 50px;
  margin: 10px 15px 0px 0px;
}

.footer-twitter {
  max-width: 45px;
  max-height: 45px;
  margin: 10px 15px 0px 0px;
}

.socials {
  display: flex;
  width: 200px;
  justify-content: space-around;
  margin-top: 10px;
}

.spacing-scroll-warning {
  margin-top: 67px;
}


.icons-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.selection-head {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}