:root {
  --peruish: rgb(149, 84, 19);
  --newGreen: rgb(67, 172, 67);
  --marascoral: rgb(246, 134, 68);
  --coral2: rgb(245, 112, 79);
  --peach: rgb(249, 183, 173);
  --green: rgb(170, 255, 200);
  --green2: rgb(48, 129, 69);
  --yellow: #f9d783;
  --new: rgb(129, 100, 129);
  width: 100vw;
  overflow-x: hidden;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

.close-contact {
  font-size: 20px;
  border: none;
  z-index: 9999999;
  align-self: flex-end;
  color: gray;
}

.close-contact:hover {
  color: black !important;
  cursor: pointer;
}

.back-container {
  width: 100%;
}

.scroll-title {
  font-size: 20px;
  text-align: center;
}

.no-scroll {
  overflow: hidden !important;
  height: 100%;
}

body {
  position: relative;
  overflow: hidden !important;
  box-sizing: border-box;
  height: 100%;
}

.radio {
  border-radius: 2px !important;
  border: solid 1px lightgray;
}

.radio-label {
  color: gray;
}

.grand-map-container {
  margin: 0;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible !important;
  min-height: 100vh;
  padding-left: 350px;
}

.form-check-inline {
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.left-arrow-filter {
  width: 15px;
  transform: scaleX(-1);
  margin-right: 5px;
}

.right-arrow-filter {
  width: 15px;
  margin-left: 5px;
}

.form-check {
  display: flex !important;
  margin: 10px;
  min-height: none !important;
}

.schedule {
  font-size: large !important;
  letter-spacing: 4px;
  margin-top: 10px;
}

.form-check-label {
  font-size: 18px;
  letter-spacing: 1.4x;
}

.checkbox-row {
  display: flex;
  justify-content: start;
  margin-bottom: 10px;
}

.iframe {
  height: 100% !important;
  box-sizing: border-box !important;
  padding-bottom: 30px;
}

/* _____________________________________________________________BUTTONS */

.submit {
  width: 100%;
  color: white;
}

.submit:hover {
  background-color: #1565c0;
}

.swal2-container {
  z-index: 9999999999;
}

/* ______________________________________________________________SIZE < 700px */

@media screen and (max-width: 700px) {
  .checkbox-row {
    margin: 0;
  }
}
