.loading {
  box-shadow: none !important;
  border: none;
  width: auto;
  height: auto !important;
  background-color: transparent !important;
  border: none !important;
}

.loading-text {
  color: var(--coral2);
  font-family: "Urbanist", sans-serif;
}
