.loading {
  box-shadow: none !important;
  border: none;
  width: auto;
  height: auto !important;
  background-color: transparent !important;
  border: none !important;
}

.resource-card-header {
  background-color: transparent !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-text {
  color: var(--marascoral);
  font-family: "Urbanist", sans-serif;
  font-size: 14px;
  margin-top: 20px;
}
