.centered {
  display: flex;
  justify-content: center;
  width: 100%;
  /* position: absolute; */
  left: 50%;
  /* top: 30%; */
  /* transform: translateX(-50%); */
  z-index: 99999;
}

.logOut-logIn {
  text-align: center;
}

.custom-form-check {
  position: relative;
  display: block;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

.custom-form-check-input {
  /* position: absolute;
  opacity: 0; */
  cursor: pointer;
  margin-right: 10px;
  /* height: 0;
  width: 0; */
}

.custom-form-label {
  /* margin: 5px 0; */
  display: inline-block;
  font-family: "Urbanist", sans-serif;
  letter-spacing: 1px;
  text-align: center;
}

.custom-form-control {
  display: block;
  width: 100%;
  padding: 2px;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-login-modal-header {
  padding: 20px 0 0 0;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: end;
  align-items: center;
  justify-content: flex-end;
}

.custom-login-modal-body {
  padding: 1rem;
}

.custom-login-modal-content {
  /* position: relative; */
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  outline: 0;
  border: 2px solid rgb(92, 128, 0);
  /* margin: 10px; */
}

.custom-login-modal-footer {
  padding: 10px;
  text-align: center;
}

/* Custom submit button style */
.custom-submit-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.header-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.loginModal-close-div {
  display: flex;
  justify-content: center;
  align-items: start !important;
}

.loginModal-title-div {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
}

.loginModal-title-div p {
  margin: 0;
}

.loginModal-footer {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80px;
  width: 100%;
  flex-wrap: nowrap;
  margin-top: 40px;
}

.loginModal-title {
  font-family: "Urbanist", sans-serif;
  font-size: xx-large;
}

.login-modal-content {
  max-width: 850px;
  width: 80%;
  outline: 3px solid rgb(66, 100, 30);
  outline-offset: 5px;
  position: absolute;
  z-index: 99999;
  border-radius: 3px;
}

.formControl {
  margin-top: 12px;
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-label {
  font-family: "Urbanist", sans-serif;
  letter-spacing: 1.2px;
  margin: 20px 0 0 0;
  font-size: medium !important;
  display: block;
  text-align: center;
}

.small-login-modal {
  overflow: hidden !important;
  padding: 18px !important;
}

.login-modal-body {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
  height: 100%;
  justify-content: center;
  padding: 0px 10px;
}

.loginModal-div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  border: none;
  background-color: transparent;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
}

.loginModal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
}

body.loginModal-open {
  overflow: hidden;
  height: 100%;
  position: fixed;
  width: 100%;
}

.forgot-password {
  font-family: "Urbanist", sans-serif;
  letter-spacing: 1px;
}

.forgot-password:hover {
  color: lightgreen;
  cursor: pointer;
}

.form-check {
  display: flex;
  justify-content: center;
}

.yes-or-no {
  display: flex;
  justify-content: center;
}

.less-margin {
  margin-top: 0px !important;
}

.login-logout {
  font-size: large;
  margin-left: 10px;
}

.margin-cancel {
  margin-top: 0 !important;
}

.login-close {
  color: blue;
  font-size: 20px;
  top: 5px;
  margin-right: 5px;
  transition: 0.3s;
  /* position: absolute; */
}

.login-close:hover {
  color: lightgreen;
}

.open {
  height: auto !important;
  justify-content: center;
  align-content: center;
  height: 100vh !important;
  display: grid;
  width: 100vw;
}
