ul {
  margin-top: 0;
  /* margin-bottom: 1rem; */
  height: 80vh;
  overflow-y: auto;
}

.backside {
  display: flex;
  font-family: "Urbanist", sans-serif;
  font-size: medium;
  font-weight: bolder;
  background-color: transparent;
  z-index: 9999;
  padding: 30px 0 0;
  justify-content: space-around;
}

/* .droppable-map-area {
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-x: auto;
  gap: 10px;
  background-color: red;
}

.dragging {
  background: lightgreen;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute !important;
  top: 0;
  right: 0;
}

.map-area-droppable {
  background-color: red;
} */

.back-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.ul {
  display: flex;
  overflow-x: auto;
  list-style: none;
}

li {
  margin: 10px;
}

@media screen and (max-width: 800px) {
  .scroll-search-results {
    width: 200px;
  }
  .cent {
    padding: 10px !important;
  }
}

@media screen and (max-width: 600px) {
  .scroll-search-results {
    width: 180px !important;
  }
}
