@font-face {
  font-family: "AwsumSans";
  src: url("/fonts/AwsumSans-BF64c0855677e49.ttf") format("truetype"),
    url("/fonts/AwsumSans-BF64c085572b0a6.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

ul {
  margin-top: 0;
  padding: 0;
  height: 50vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  list-style: none;
}

.all-ul::-webkit-scrollbar-track {
  background-color: transparent;
}

.all-ul::-webkit-scrollbar {
  width: 7px;
}

.all-ul::-webkit-scrollbar-thumb {
  background-color: lightgreen;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.all-ul::-webkit-scrollbar-thumb:hover {
  background-color: darkgreen;
}

li {
  margin: 10px;
}

.backside {
  display: flex;
  font-family: "Urbanist", sans-serif;
  font-size: medium;
  font-weight: bolder;
  background-color: transparent;
  z-index: 9999;
  padding: 30px 0 0;
  justify-content: space-around;
}

.selected-resources {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.3); */
  padding: 10px;
  /* margin: 5px; */
}

.path {
  display: flex;
  align-items: center;
  width: 100%;
}

.path-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.path-img {
  height: 50px;
  width: 30px;
}

.path-icon {
  font-size: medium;
  margin: 3px;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); */
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.path-name {
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); */
  font-size: 18px;
  color: lightgreen;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}

.flip-horizontal {
  transform: scaleX(-1);
  margin-right: 65px;
}

.selected-item {
  font-size: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.path-item:hover,
.path-name:hover {
  color: salmon !important;
  cursor: pointer;
}

.back-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 130px 0 0 0;
}

.selected-item-content {
  width: 100%;
}

.createMyPath {
  z-index: 9998;
  border-radius: 3px;
  font-size: 15px;
  background-color: salmon;
  margin: 5px;
}

.createMyPath:hover {
  background-color: lightgreen;
}

@media screen and (max-width: 800px) {
  .scroll-search-results {
    width: 200px;
  }
  .cent {
    padding: 10px !important;
  }

  .path-name {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 600px) {
  .scroll-search-results {
    width: 180px !important;
  }
}
