.map-settings {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.map-settings-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 12px;
}

.geo-button {
  border: 1.5px solid var(--coral2);
  background-color: var(--yellow) !important;
  font-size: 15px;
  height: 30px;
  width: 120px;
  border-radius: 3px;
  font-family: "Urbanist", sans-serif !important;
  margin: 5px;
  padding: 0px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
}

#zipcode {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
}

.zipcode-input-container {
  font-family: "Urbanist", sans-serif !important;
  font-size: 15px;
}

/* .geo-form .input-group {
  margin-bottom: 1em;
} */

/* .geo-input {
  width: 100%;
  padding: 0.8em;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.geo-input:focus {
  border-color: #007bff;
  outline: none;
} */
