@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

.intro {
  font-size: 14px;
  color: gray;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.split-nav {
  display: flex;
  flex-direction: column;
  height: 95vh;
  justify-content: space-between;
}

.side-by {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.list-container {
  max-height: 50vh;
  overflow-y: scroll;
  border-radius: 2%;
  border: 1px solid rgb(174, 161, 161);
}

.list-container-favs {
  max-height: 20vh;
  overflow-y: scroll;
  border-radius: 2%;
  border: 1px solid gray;
}

.nav-list {
  display: flex;
  flex-direction: column;
}

.new-navbar {
  display: flex;
  justify-content: space-between;
  transition: left 0.3s ease;
  top: 0;
  z-index: 996;
  position: absolute;
  width: 350px !important;
  left: -350px !important;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  transition: left 0.3s ease;
  /* background-color: #464646; */
  background-color: white;
  border-radius: 0 30px 0 0;
}

.favorites-scroll {
  height: 30vh;
  overflow-y: scroll;
}

.active {
  text-decoration: underline;
}

.nav-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  border-radius: 2%;
}

.nav-item,
.nav-item a {
  letter-spacing: 2px;
  color: blue;
  text-decoration: none;
  font-size: 12px;
  z-index: 995;
  font-family: "Inter", sans-serif;
  margin: 7px 0;
}

.nav-item:hover,
.nav-item a:hover {
  cursor: pointer;
  color: lightgreen !important;
}

.nav-btn:active {
  cursor: pointer;
  text-decoration: underline;
  color: orange;
}

.navbar-logo {
  width: 200px;
  height: 50px;
  margin: 40px 0;
}

.navbar-logo:hover {
  cursor: pointer;
}

.icons {
  color: blue;
}

.open-icon-nav {
  font-size: 45px;
}

.close-icon-nav,
.open-icon-nav {
  position: absolute;
  left: -50px;
  top: 0;
  transition: 0.3s ease !important;
  z-index: 995;
  color: blue !important;
}

.close-icon-nav.open-nav {
  left: 200px;
  transition: left 0.3s ease;
}

.open-icon-nav.closed {
  left: 300px;
  transition: left 0.3s ease;
}

.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 995;
  background-color: #464646;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-open {
  overflow: hidden;
  height: 100%;
}

.modal-content-contact {
  max-width: 850px;
  border-radius: 3px;
  /* width: 70%; */
  z-index: 999;
}

.close-div {
  display: flex;
  justify-content: flex-end;
}

.close-icon-nav:hover,
.close-icon-nav:focus,
.open-icon-nav:hover,
.open-icon-nav:focus {
  color: lightgreen !important;
  cursor: pointer;
}

.new-navbar.open-nav {
  left: 0 !important;
  transition: left 0.3s ease;
}

.nav-container {
  width: 100%;
  position: absolute;
}

.close-icon-nav {
  font-size: 20px;
  top: 20px;
  color: lavendar !important;
}

.close-icon-nav:hover {
  color: lightgreen !important;
}

.close-icon-nav.open-nav {
  left: 235px !important;
}

.open-icon-nav.closed {
  left: 285px !important;
}

.navbar-content {
  flex-direction: column;
  justify-content: space-around;
  padding: 15px;
  align-items: flex-start !important;
  display: flex;
  box-shadow: none !important;
  display: flex;
  align-items: center;
  border-radius: 3px;
  height: 100%;
  /* margin: 10px; */
}

.close-icon-nav,
.open-icon-nav {
  transition: left 0.3s ease;
}

.close-icon-nav {
  left: -40px !important;
  display: flex;
}

@media screen and (max-width: 600px) {
  .new-navbar {
    width: 200px !important;
    left: -200px !important;
  }

  .open-icon-nav.closed {
    left: 220px !important;
  }

  .close-icon-nav.open-nav {
    left: 170px !important;
  }

  .open-icon-nav {
    font-size: 30px;
  }
}
