@font-face {
  font-family: "AwsumSans";
  src: url("/fonts/AwsumSans-BF64c0855677e49.ttf") format("truetype"),
    url("/fonts/AwsumSans-BF64c085572b0a6.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.split-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.nav-container {
  width: 100%;
}

.nav-list {
  display: flex;
  flex-direction: column;
}

.new-navbar {
  display: flex;
  justify-content: space-between;
  transition: left 0.3s ease;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 996;
  position: fixed;
}

.new-navbar.open-nav {
  left: 0;
}

.navbar-content {
  display: flex;
  align-items: center;
  border-radius: 3px;
  height: 100%;
  margin: 10px;
}

.navbar-content.open-nav {
  display: flex;
}

.active {
  text-decoration: underline;
}

.nav-item,
.nav-item a {
  letter-spacing: 2px;
  color: lavender;
  text-decoration: none;
  font-size: 18px;
  z-index: 995;
  margin-bottom: 20px;
  font-family: "AwsumSans";
}

.nav-item:hover,
.nav-item a:hover {
  cursor: pointer;
  color: lightgreen !important;
}

.nav-btn:active {
  cursor: pointer;
  text-decoration: underline;
  color: orange;
}

.navbar-logo {
  width: 200px;
  height: 50px;
  margin: 40px 0;
}

.navbar-logo:hover {
  cursor: pointer;
}

.icons {
  color: white;
}

.nav-item {
  margin: 0 20px;
}

.close-icon-nav,
.open-icon-nav {
  position: absolute;
  left: -40px;
  top: 0;
  transition: 0.3s ease !important;
  z-index: 995;
  color: lavender !important;
}

.close-icon-nav.open-nav {
  left: 200px;
  transition: left 0.3s ease;
}

.open-icon-nav.closed {
  left: 300px;
  transition: left 0.3s ease;
}

.modal-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  position: fixed;
  z-index: 995;
  background-color: #464646;
  border: none;
}

.modal-open {
  overflow: hidden;
  height: 100%;
}

.modal-content-contact {
  max-width: 850px;
  border-radius: 3px;
  background-color: transparent;
  width: 70vw;
  z-index: 999;
}

.close-div {
  display: flex;
  justify-content: flex-end;
}

.close-icon-nav:hover,
.close-icon-nav:focus,
.open-icon-nav:hover,
.open-icon-nav:focus {
  color: lightgreen !important;
  /* color: rgb(177, 135, 177); */
  cursor: pointer;
}

/* MIN WIDTH */
/* @media screen and (max-width: 1000px) { */
.new-navbar {
  width: 275px !important;
  left: -275px !important;
  height: 100%;
  display: flex;
  /* justify-content: flex-start; */
  transition: left 0.3s ease;
  background-color: #464646;
}

.new-navbar.open-nav {
  left: 0 !important;
  transition: left 0.3s ease;
}

.navbar-content {
  flex-direction: column;
  padding: 35px 15px;
  align-items: flex-start !important;
  margin: 0 0 0 20px;
  display: flex;
  box-shadow: none !important;
}

.nav-item {
  margin: 15px 0;
}

.nav-container {
  height: 100vh;
  position: absolute;
}

.close-icon-nav,
.open-icon-nav {
  left: -40px;
}

.close-icon-nav {
  font-size: 30px;
  top: 20px;
  color: lavendar !important;
}

.close-icon-nav:hover {
  color: lightgreen !important;
}

.close-icon-nav.open-nav {
  left: 235px !important;
}

.open-icon-nav.closed {
  left: 300px;
}

.open-icon-nav {
  font-size: 30px;
}

.nav-container {
  height: 100vh;
  position: absolute;
}

.new-navbar.open-nav {
  left: 0;
}

.navbar-content {
  flex-direction: column;
  /* padding: 5px; */
}

.nav-item {
  margin: 15px 0;
}

.close-icon-nav,
.open-icon-nav {
  transition: left 0.3s ease;
}

.close-icon-nav {
  left: -40px !important;
  display: flex;
}

.open-icon-nav.closed {
  left: 300px !important;
}
/* } */

/* @media screen and (max-width: 700px) {
  .modal-content-contact {
    width: 100%;
  }

  .close {
    right: 20px;
    top: 20px;
  }
}

@media screen and (max-width: 500px) {
  .close-icon-nav,
  .open-icon-nav {
    transition: left 0.3s ease;
    left: -50px !important;
    top: 10px !important;
  }

  .close-icon-nav.open-nav {
    left: 235px !important;
  }

  .open-icon-nav.closed {
    left: 300px !important;
  }
}

@media screen and (max-width: 400px) {
  .open-icon-nav {
    top: 0;
    left: 0;
  }
} */
