/* .navbar {
  width: 100%;
  top: 0;
  font-family: "Urbanist", sans-serif;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 999;
}

.login-div {
  display: flex;
  justify-content: flex-end;
  width: 90%;
}

.active {
  text-decoration: underline wavy lightgreen !important;
}

.navbar-logo {
  width: 250px;
  height: 60px;
  margin-bottom: 50px;
  background-color: transparent;
}

.home-navbar {
  color: black !important;
  font-family: "Urbanist", sans-serif;
  font-size: large;
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .navbar-logo {
    width: 330px;
    height: 60px;
  }
}

@media screen and (max-width: 700px) {
  .navbar-logo {
    width: 200px;
    height: 40px;
    margin: 10px !important;
  }
} */
