.navbar {
  width: 100%;
  top: 0;
  padding: 10px;
  font-family: "Urbanist", sans-serif;
  color: black;
  display: flex;
  justify-content: space-between;
}

.active {
  text-decoration: underline wavy lightgreen !important;
}

.navbar-logo {
  width: 50px;
  height: 70px;
  max-width: 220px;
  margin: 15px 0px 0px 15px;
  background-color: transparent;
}

.home-navbar {
  color: var(--newGreen);
  font-family: "Urbanist", sans-serif;
  font-size: large;
  text-decoration: none;
}
