@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

.intro {
  font-size: 14px;
  color: gray;
  margin-bottom: 4px;
  font-family: "Inter", sans-serif;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.top-logo {
  width: 120px;
  margin-bottom: 5px;
}

.login-link:hover {
  cursor: pointer;
}

.split-nav {
  display: flex;
  flex-direction: column;
  height: 95vh;
  justify-content: space-between;
}

.side-by {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px 0;
}

.list-container {
  max-height: 50vh;
  overflow-y: scroll;
  border-radius: 0 2% 2% 2%;
  border: 1px solid rgb(174, 161, 161);
}

.list-container-favs {
  max-height: 20vh;
  overflow-y: scroll;
  border-radius: 2%;
  border: 1px solid gray;
}

.nav-list {
  display: flex;
  flex-direction: column;
}

.new-navbar {
  display: flex;
  justify-content: space-between;
  transition: left 0.3s ease;
  top: 0;
  z-index: 996;
  position: absolute;
  width: 350px !important;
  left: -350px !important;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  transition: left 0.3s ease;
  /* background-color: #464646; */
  background-color: white;
  border-radius: 0 30px 0 0;
}

.favorites-scroll {
  height: 30vh;
  overflow-y: scroll;
}

.active {
  /* font-weight: bold !important; */
  color: blue !important;
  border-bottom: none;
  box-shadow: none !important;
  margin: 0 5px -2px 0 !important;
  border-color: blue !important;
}

.tab-buttons {
  display: flex;
}

.tab-buttons div {
  border: 1px solid gray;
  border-bottom: none !important;
  color: gray;
  margin: 0 5px 0 0;
  padding: 5px;
  font-family: "Inter", sans-serif;
  background-color: white;
  z-index: 9;
  border-radius: 20px 20px 20px 0;
}

.nav-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-div-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-div-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2%;
  margin: 0 0 10px 0;
}

.nav-item,
.nav-item a {
  letter-spacing: 2px;
  color: blue;
  text-decoration: none;
  font-size: 12px;
  z-index: 995;
  font-family: "Inter", sans-serif;
  margin: 7px;
}

.nav-item:hover,
.nav-item a:hover {
  cursor: pointer;
  color: black !important;
}

.nav-btn:active {
  cursor: pointer;
  text-decoration: underline;
  color: orange;
}

.navbar-logo {
  width: 200px;
  height: 50px;
  margin: 40px 0;
}

.navbar-logo:hover {
  cursor: pointer;
}

.icons {
  color: blue;
}

.open-icon-nav {
  font-size: 45px;
}

.close-icon-nav,
.open-icon-nav {
  position: absolute;
  left: -50px;
  top: 0;
  transition: 0.3s ease !important;
  z-index: 995;
  color: blue !important;
}

.close-icon-nav.open-nav {
  left: 200px;
  transition: left 0.3s ease;
}

.open-icon-nav.closed {
  left: 300px;
  transition: left 0.3s ease;
}

.avatar-material-design {
  align-self: flex-end;
  height: 30px;
  width: 30px;
}

.modal-open {
  overflow: hidden;
  height: 100%;
}

.modal-content-contact {
  max-width: 850px;
  z-index: 999;
}

.close-div {
  display: flex;
  justify-content: flex-end;
}

.close-icon-nav:hover,
.close-icon-nav:focus,
.open-icon-nav:hover,
.open-icon-nav:focus {
  color: black !important;
  cursor: pointer;
}

.new-navbar.open-nav {
  left: 0 !important;
  transition: left 0.3s ease;
}

.close-icon-nav {
  font-size: 20px;
  top: 20px;
  color: lavendar !important;
}

.close-icon-nav:hover {
  color: lightgreen !important;
}

.close-icon-nav.open-nav {
  left: 235px !important;
}

.open-icon-nav.closed {
  left: 285px !important;
}

.dropdown-content {
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.navbar-content {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  overflow-y: scroll;
}

.close-icon-nav,
.open-icon-nav {
  transition: left 0.3s ease;
}

.close-icon-nav {
  left: -40px !important;
  display: flex;
}

.logo-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

@media screen and (max-width: 700px) {
  .new-navbar {
    top: 30vh !important;
    width: 100% !important;
    height: 70vh !important;
  }

  .navbar-content {
    width: 100%;
  }
}
