.my-resource-card {
  border: 1px solid lightgray;
  justify-content: center;
  display: flex;
  background-color: #eeeeee;
}

.my-resource-card {
  border: 1px solid lightgray;
  justify-content: center;
  display: flex;
  background-color: #eeeeee;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2), 1px 2px 3px rgba(0, 0, 0, 0.2);
  align-items: center;
  padding: 4px;
  max-width: 250px;
  border-radius: 1%;
  min-height: 150px;
  width: 200px;
  /* height: 100%; */
}

.my-resource-card:hover {
  cursor: pointer;
}

.resource-card-header {
  display: flex;
}

.card-title-div {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resource-title {
  color: black;
  font-family: "Urbanist", sans-serif;
  font-size: medium;
  font-weight: bolder;
  margin: 0;
  padding: 5px;
}

.resource-card-header {
  background-color: #eeeeee;
  padding: 2px;
  margin: 3%;
  border: none;
  min-height: 20%;
  display: flex;
  justify-content: between;
}

.resource-title {
  color: black;
  font-family: "Urbanist", sans-serif;
  font-size: medium;
  font-weight: bolder;
  margin: 0;
  padding: 5px;
}

.icons-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.card-title-div {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  /* .my-resource-card {
    min-width: 22vw !important;
  } */

  .card-icon {
    font-size: large;
    margin: 0;
  }

  .card-img {
    width: 100%;
    object-fit: cover;
    max-height: 100px;
  }
}

@media screen and (max-width: 440px) {
  /* .my-resource-card {
    min-width: 25vw !important;
    height: 200px;
  } */
}

.my-resource-card div {
  width: 99%;
}

.card-icon {
  font-size: large;
  margin: 5px;
}
