.my-resource-card {
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  z-index: 0 !important;
  position: relative;
  user-select: none;
  background-color: white;
  border-radius: 2%;
  transition: 0.2s;
  overflow: hidden;
  margin: 10px 0px;
  box-sizing: border-box;
  border-color: transparent;
  border-width: 1px;
  border-style: solid;
  border: 1px solid gray;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-width: 300px;
  width: 100%;
}

.my-resource-card:hover {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2) !important;
  transition: 0.2s;
  cursor: pointer;
  background-color: rgb(181, 255, 185) !important;
}

.add-favorite {
  /* width: 100% !important; */
  margin: 10px 0 !important;
}

.card-description {
  padding: 0;
  margin: 0 10px 10px 10px;
}

.category-span {
  color: gray;
  font-size: 12px;
  line-height: 0.5;
}

.category-span {
  padding-right: 10px;
  color: #679c87 !important;
  font-size: 14px !important;
}

.card-img {
  object-fit: cover;
  max-height: 120px;
  margin: 0 10px 10px 10px;
}

.card-icon {
  font-size: large;
  margin: 3px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card-body {
  padding: 0 !important;
  height: 45%;
  display: flex;
  justify-content: center;
}

.card-inner {
  width: 100%;
  height: 100%;
}

.remove-path {
  background-color: lavender !important;
  border: 1.5px solid red !important;
  color: red !important;
}

.add-path {
  background-color: rgb(173, 228, 173) !important;
  color: green !important;
  border: 1.5px solid green !important;
}

.remove-path,
.add-path {
  font-size: 10px !important;
  padding: 3px !important;
}

.resource-title {
  color: black;
  font-weight: bolder;
  font-size: 16px;
  margin: 10px;
}

.resource-card-number {
  color: black;
  font-weight: bolder;
  font-size: 16px;
  margin-right: 5px;
}

.fa-baby,
.fa-users,
.fa-person-military-rifle,
.fa-female,
.fa-child,
.fa-person-rays,
.fa-user-plus,
.fa-rainbow,
.fa-question {
  display: none;
}

/* .resource-card-header {
  border: none;
  display: flex;
  margin: 10px;
  padding: 0;
  text-align: left;
  display: flex;
} */

.card-title-div {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons-container {
  width: 100%;
  display: flex;
  margin: 0;
  /* justify-content: flex-end; */
}

@media screen and (max-width: 900px) {
  .card-icon {
    font-size: medium;
  }
}
