.modal-close-div {
  display: flex;
  justify-content: center;
  align-items: start !important;
}

.modal-open {
  overflow: hidden;
}

.close-modal {
  color: blue;
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 0;
}

.close-modal:hover {
  color: lightgreen;
}

.modal-title-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.modal-title-div span {
  margin-left: 20px;
  font-size: large;
  margin: 0;
}

.modal-header-icon {
  font-size: x-large;
  margin-left: 20px;
}

.close-rating {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  font-size: 20px;
  color: lavender;
}

.close-rating:hover {
  color: lightgreen !important;
}

.what-do-you-think {
  font-size: 18px;
  text-align: center;
  font-family: "Urbanist";
  font-weight: 300;
  letter-spacing: 1px;
}

.rate-this-resource {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999999;
  background-color: var(--marascoral);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border: 2px solid blue;
}

.rate-this-resource-toggle {
  width: 180px;
}

.rate-this-resource-toggle button {
  height: unset !important;
  width: unset !important;
}

.add-path span,
.remove-path-card span {
  display: block; /* Makes each span take up the full width, causing a line break */
}

.modal-button-container {
  display: flex;
  width: 180px;
}

.modal-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: #000;
  font-size: x-large;
  background-color: rgb(218, 224, 245);
  border-bottom: 3px solid darkgray;
}

.comment-section {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-top: 40px;
}

p {
  margin: 0;
}

.comment-div {
  margin-top: 20px;
}

.full-comments-section {
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.comment-content {
  text-align: center;
  margin: 5px 0;
  font-size: 16px;
  letter-spacing: 0.4px;
}

.comment-info-date {
  font-size: 12px;
  color: lightgray;
  text-align: end;
  margin-left: 10px;
}

.comment-user-info {
  font-size: 13px;
  color: lightgray;
  text-align: start;
}

.comment-info {
  display: flex;
  /* width: 100%; */
  justify-content: flex-end;
}

.comments-display {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  border: 1px solid lightgray;
}

.comment-heading {
  padding: 5px;
  font-family: "AwsumSans", sans-serif;
  font-size: 20px;
  color: rgb(149, 84, 19);
  font-family: "AwsumSans";
  justify-content: center;
  display: flex;
  letter-spacing: 1px;
  border-bottom: 7px double limegreen;
}

.modal-footer {
  border-top: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.modal-footer p,
.modal-footer a {
  font-size: small !important;
  text-decoration: none !important;
  font-family: "Urbanist", sans-serif;
  letter-spacing: 1px;
}

.problem a,
.create a,
.edit-text a {
  text-decoration: none !important;
}

.modal-title {
  font-family: "Urbanist", sans-serif;
  font-size: xx-large;
}

.modal-content {
  margin: 20px;
  width: 85%;
  max-width: 850px;
  outline: 4px solid var(--coral);
  outline-offset: 5px;
  max-height: 95vh;
}

.modal-body {
  /* background-color: rgb(139, 136, 135); */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  overflow-x: hidden;
  overflow-y: scroll !important;
  scroll-behavior: smooth;
  min-height: 60vh;
  padding: 0;
}

.modal-center {
  text-align: center !important;
  width: 100%;
  margin-bottom: 7px;
  font-size: 12px;
}

.modal-center p {
  text-decoration: none !important;
  color: black;
  font-size: 11px;
}

.modal-center::-webkit-scrollbar-track {
  background-color: transparent;
}

.modal-center::-webkit-scrollbar {
  width: 7px;
}

.modal-center::-webkit-scrollbar-thumb {
  background-color: lightgreen;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.modal-center::-webkit-scrollbar-thumb:hover {
  background-color: darkgreen;
}

body.modal-open {
  overflow: hidden;
  height: 100%;
  position: fixed;
  width: 100%;
}

.resource-info {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 15px 15px 40px 15px;
}

.info {
  display: flex;
  padding: 10px !important;
}

.info i {
  margin-right: 10px;
}

/* ____________________________________________CAROUSEL  */
.carousel-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.carousel {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 500px;
  max-height: 250px;
  overflow: hidden;
}

.carousel-description-div {
  flex-direction: column;
}

.carousel-image {
  /* width: 100%; */
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
}

.arrow-button {
  border: none;
  padding: 15px;
  background-color: transparent;
  top: 50%;
  z-index: 2;
}

.left-arrow {
  width: 20px;
  transform: scaleX(-1) translateY(-50%);
  left: 0px;
  position: absolute;
}

.right-arrow {
  width: 20px;
  transform: translateY(-50%);
  right: 0px;
  position: absolute;
}

.resource-card-text {
  font-size: medium;
  color: black;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 1px;
}

.details-div {
  width: 100%;
  justify-content: center;
  display: flex;
  margin: 20px 0;
}

.details-column {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details-column div {
  padding-top: 30px;
}

.modal-map {
  width: 100% !important;
  margin-top: 10px;
}

.icon-box {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.title-box {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.description-div {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  margin: 20px 0 0 0;
}

.description {
  font-family: "Carme", sans-serif;
  line-height: 2;
  display: flex;
  justify-content: center;
  margin: 0;
}

.description-heading {
  font-weight: bolder;
  font-size: 23px;
}

.resource-card-text {
  font-size: 14px;
  font-family: "Urbanist", sans-serif;
}

.modal-text {
  width: 100%;
  text-decoration: none !important;
  color: black;
  font-size: 1rem;
}

.sched-div {
  padding: 0 !important;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .carousel {
    height: 280px !important;
    overflow: hidden;
  }

  .details {
    width: 100% !important;
  }

  .resource-card-text {
    font-size: 13px !important;
  }
}

@media screen and (max-width: 600px) {
  .modal-text {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 500px) {
  .resource-card-text {
    font-size: 11px !important;
  }
}
