.my-resource-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  z-index: 0 !important;
  position: relative;
  user-select: none;
  overflow: hidden;
  margin: 5px 0px;
  border: 1px solid #cde9d5;
  max-width: 280px;
  width: 100%;
  z-index: 99 !important;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
  /* box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2); */
  background-color: white;
}

.page-title {
  text-align: center;
  font-size: 25px;
  margin: 20px 0;
}

.my-resource-card:hover {
  cursor: pointer;
  scale: 1.02;
}

.add-favorite {
  margin: 10px 0 !important;
}

.card-description {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  gap: 10px;
}

.category-span {
  color: gray;
  font-size: 12px;
  line-height: 0.5;
  padding-right: 10px;
}

.card-img {
  object-fit: cover;
  max-height: 120px;
  padding: 15px 15px 0 15px;
}

.card-icon {
  font-size: large;
  margin: 3px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card-body {
  padding: 0 !important;
  height: 45%;
  display: flex;
  justify-content: center;
}

.card-inner {
  width: 100%;
  height: 100%;
}

.remove-path {
  background-color: lavender !important;
  border: 1.5px solid red !important;
  color: red !important;
}

.add-path {
  background-color: rgb(173, 228, 173) !important;
  color: green !important;
  border: 1.5px solid green !important;
}

.remove-path,
.add-path {
  font-size: 10px !important;
  padding: 3px !important;
}

.resource-title {
  color: black;
  font-weight: 400;
  font-size: 13.5px;
  letter-spacing: 1px;
  /* margin: 10px; */
  text-align: center;
  line-height: 1.2;
}

.rating-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.ratingCount {
  font-weight: 100 !important;
  font-size: 12px;
}

.resource-card-number {
  color: black;
  font-weight: bolder;
  font-size: 16px;
  margin-right: 5px;
}

.fa-baby,
.fa-users,
.fa-person-military-rifle,
.fa-female,
.fa-child,
.fa-person-rays,
.fa-user-plus,
.fa-rainbow,
.fa-question {
  display: none;
}

.card-title-div {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons-container {
  width: 100%;
  display: flex;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .card-icon {
    font-size: medium;
  }
}
