.map-container-modal {
  width: 442px !important;
  height: 200px !important;
  position: static;
}

.rate {
  top: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  left: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9999;
  justify-content: center;
}

.rating-div-modal {
  display: flex;
  align-items: center;
}

.marker-address {
  position: absolute;
  max-width: 200px;
  min-width: 100px;
  top: -90px;
  background-color: #fff;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 12px;
}

.form-check {
  display: flex;
  justify-content: space-between;
}

.fa-arrow-right {
  margin: 6px 0px 0px 10px;
  animation: wiggle 5s infinite;
}

.info-address {
  display: flex;
  align-items: flex-start;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

.modal-info-title {
  flex-shrink: 0;
  width: 80px;
  font-weight: 600;
  color: #333;
}

.modal-info-value {
  flex: 1;
  font-weight: 400;
  color: #555;
}

.info-address {
  padding: 8px;
  /* width: 100%; */
  align-items: center;
  display: flex;
  text-align: justify;
  justify-content: space-between;
  border-bottom: 1px solid rgb(212, 212, 212);
  text-decoration: none;
  font-size: 12px;
  font-weight: 200;
}

.info-address p,
.info-address span {
  font-weight: 100 !important;
}

.info-address p {
  text-align: justify;
  font-size: 11px;
}

.modal-open {
  overflow: hidden;
}

.close-modal {
  align-self: flex-start;
  cursor: pointer;
  z-index: 9999;
  position: absolute;
  top: 0;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.modal-favorite {
  display: flex;
  justify-self: flex-end;
  cursor: pointer;
}

.close-modal:hover {
  color: gray;
}
.modal-text {
  max-width: 300px;
}

.link-icon:hover {
  color: blue !important;
}

.modal-title-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.modal-header-icon {
  margin-left: 20px;
}

.close-rating {
  align-self: flex-end;
  top: 0;
  right: 0;
  margin: 10px;
  font-size: 20px;
  color: grey;
}

.close-rating:hover {
  color: black !important;
}

.rate-this-resource-toggle {
  display: flex;
  justify-content: flex-end;
}

.read-more {
  color: blue;
  text-align: end;
}

.read-more:hover {
  cursor: pointer;
  color: darkblue;
}

.resource-rating {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.like-button {
  border: none !important;
  background-color: transparent !important;
}

.resource-rating:hover {
  cursor: pointer;
}

.log-in {
  color: blue;
  text-decoration: underline;
  padding: 0 5px;
}

.log-in:hover {
  cursor: pointer;
}

.resource-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  padding-bottom: 0;
}

.alert-bar {
  top: 0;
  left: 0;
  width: 100%;
  background-color: red;
  padding: 10px 5px;
  z-index: 1000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.alert-text-div {
  background-color: white;
  border-radius: 4px;
  border: 1px solid black;
  margin: 10px;
  padding: 5px;
}

.alert-text {
  font-size: 12px;
  font-weight: 100;
  color: black;
}

.group-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.rating-label {
  min-height: 25px;
}

.rating-prompt {
  margin-bottom: 15px;
}

.rating-container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}

.rating-container span {
  flex-direction: row !important;
}

.comment-text-area {
  margin-bottom: 20px;
  min-height: 100px;
  font-family: "Neutraface Text", sans-serif !important;
}

.comment-section {
  display: flex;
  flex-direction: column;
  width: 90%;
  /* height: 100px; */
  width: 100%;
}

p {
  margin: 0;
}

.comment-header {
  align-self: end;
}

.comment-actions {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  display: flex;
}

.comment-div {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.comment-content {
  font-size: 14px;
  margin-top: 15px;
  line-height: 1.5;
  font-weight: 400;
}

.full-comments-section {
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.comment-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  min-width: 200px;
  flex: 1;
  padding: 5px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 4px;
}

.comment-info div p {
  font-size: 12px;
}

.comment-and-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-date {
  font-size: 12px;
  color: rgb(200, 198, 198);
  margin-left: 5px;
}

.comment-user-info {
  font-size: 12px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.user-reviews {
  text-align: center;
  font-size: 20px;
  padding: 8px;
  font-weight: 100;

  margin-top: 20px;
}

.delete-icon {
  cursor: "pointer";
  color: "gray" !important;
}

.comments-display {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  box-sizing: border-box;
  flex: 1;
  justify-content: center;
  padding: 0 0 30px 0;
  border-top: 1px solid gray;
}

textarea {
  border: 1px solid gray;
  border-radius: 3px;
  padding: 5px;
  height: 100%;
}

.comment-heading {
  font-size: 20px;
  width: 100%;
  justify-content: center;
  display: flex;
  text-decoration: underline;
}

.modal-footer {
  width: 100%;
  padding: 10px;
  font-family: "Neutraface Text", sans-serif !important;
  box-sizing: border-box;
  display: flex;
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
}

.modal-info-title {
  font-size: 14px !important;
  width: 100px !important;
  /* color: var(--color2); */
}

.modal-info-value {
  font-weight: 100;
  line-height: 1.5;
}

.problem {
  text-decoration: none;
  font-weight: 100;
}

body.modal-open {
  overflow: hidden;
  height: 100%;
  position: fixed;
  width: 100%;
}

.resource-title-modal {
  font-size: 25px;
  line-height: normal;
}

.info-groups {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  width: 450px;
}

.schedule-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
}

.info i {
  margin-right: 5px;
  padding: 0;
}

.info a {
  padding: 0;
}

.comment-content-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: end;
}

/* ____________________________________________CAROUSEL  */

.account-circle {
  font-size: 25px;
  color: lightgray;
  align-self: center;
  margin-right: 3px;
}

.modal-description {
  display: block;
}

.carousel-description-div {
  flex-direction: column;
}

.carousel-image {
  max-width: 450px;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
  margin: 10px 0;
  border-radius: 3px;
  width: 100%;
}

.arrow-button {
  border: none;
  padding: 15px;
  background-color: transparent;
  top: 50%;
  z-index: 2;
}

.left-arrow {
  width: 20px;
  transform: scaleX(-1) translateY(-50%);
  left: 0px;
  position: absolute;
}

.right-arrow {
  width: 20px;
  transform: translateY(-50%);
  right: 0px;
  position: absolute;
}

.details-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 0;
}

.modal-map {
  width: 100% !important;
  margin-top: 10px;
}

.icon-box {
  display: flex;
  justify-content: flex-end;
}

.description-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: justify;
  padding: 5px;
}

.description {
  line-height: 2;
  display: flex;
  margin: 0;
  display: flex;
  align-items: end;
}

.description-heading {
  font-weight: bolder;
  font-size: 20px;
}

.sched-div {
  padding: 5px;
  width: 100%;
}

.schedule-table {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.schedule-column {
  display: flex;
  flex-direction: column;
}

.schedule-day {
  margin-bottom: 5px;
}

.schedule-time {
  margin-bottom: 5px;
  text-align: end;
}

marquee {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media screen and (max-width: 700px) {
  .details-column {
    flex-direction: column;
  }
  .info-groups {
    flex-direction: column;
    width: auto;
  }
}

@media screen and (max-width: 500px) {
  .modal-info-title {
    width: 80px !important;
    font-size: 12px !important;
  }
  .info-address {
    font-size: 12px;
  }
}
