.report-container {
  display: none !important;
}

.need-today-option {
  flex-direction: row !important;
}

.dropdown-button {
  border: none;
  padding: 0;
  background-color: transparent;
}

.dropdown-button:hover {
  cursor: pointer;
}

.dropdowns-container {
  display: flex;
  justify-content: center;
  height: 95vh;
  position: absolute;
  background-color: white !important;
  z-index: 99999;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.material-symbols-outlined {
  font-size: 12px;
}

.selection {
  max-height: 30vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.selection-head {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cent {
  width: 100%;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  color: white;
}

.center {
  display: flex;
  align-items: center;
  font-size: 18px;
  width: 100%;
}

.center div {
  flex-direction: row !important;
  width: 100%;
}

.closed-icons {
  margin: 5px;
  font-size: 22px;
}

.select-header {
  flex-direction: row !important;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.header-open {
  justify-content: space-between !important;
}

.select-header p {
  padding: 0;
  margin: 0;
  font-size: 20px;
  letter-spacing: 1px;
}

.open2,
.closed2 {
  border: none;
  background-color: transparent;
  z-index: 999;
  letter-spacing: 1.2px;
}

.open2 {
  color: red;
}

.closed2 {
  transition: color 0.3s, font-size 0.3s;
}

.my-input {
  display: none;
}

.my-form-check {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 5px;

  font-size: 12px;
}

.my-label {
  color: gray;
}

.my-input + .my-label {
  position: relative;
  padding-left: 23px;
  cursor: pointer;
}

.what-type {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.my-input + .my-label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 3px;
  border: 1px solid var(--green2);
  background: #fff;
  margin: 3px 5px 0px 7px;
}

.my-input:checked + .my-label:before {
  background-color: rgb(0, 117, 255);
}

.my-schedule-button {
  font-family: "Urbanist", sans-serif;
  font-size: large;
  color: var(--coral2);
  z-index: 999;
  border: none;
  background-color: transparent;
}

/* .side-car {
  margin: 55px 0;
  display: flex;
  justify-content: center;
} */

.selected-filters-container {
  display: flex;
  justify-content: space-between;
}

.selected-filter {
  display: flex;
  margin: 5px;
}

.selected-filter span {
  margin: 5px 0 0 5px;
}

.selected-filter span:hover {
  cursor: pointer;
}

.modal-filter-header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-top: 2px solid #000;
  /* border-left: 1px solid #000;
  border-right: 1px solid #000; */
  border-bottom: none;
  border-radius: 8px 8px 0 0;
}

.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 95vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

.close-filters {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
}

.modal-content {
  background-color: white;
  padding: 20px;
  display: flex;
  width: 100%;
  overflow-y: scroll;
  justify-content: space-around;
  box-sizing: border-box;
}

.filter-section {
  margin-bottom: 20px;
}

.filter-button-container {
  text-align: right;
  padding: 10px;
}

.filter-button span {
  font-size: 20px;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

.resilio-logo {
  height: 30px;
  width: 160px;
}

.active-filters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 5px;
  width: 100%;
  justify-content: start;
}

.active-filter {
  display: flex;
  background-color: transparent;
  color: blue;
  padding: 0 5px 5px 5px;
  text-align: center;
}

.active-filter > div {
  margin-left: 5px;
  cursor: pointer;
  color: red;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.login-link:hover {
  cursor: pointer;
}

.active {
  transition: 0.2s;
  color: rgb(71, 172, 76);
  justify-content: center;
  background-color: rgb(177, 222, 179);
}

.active p,
.active {
  position: relative;
  transition: 0.3s;
}

.tab-buttons {
  width: 100%;
  min-height: 25px;
  z-index: 3;
  box-sizing: border-box;
  padding: 0;
  margin: 0 0 10px 0;
  display: flex;
  width: 100%;
}

.tab-buttons div {
  position: relative;
  box-sizing: border-box;
  padding: 0;
}

.tab-buttons div:first-child {
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  margin-right: -10px;
  width: 55%;
}

.tab-buttons div:last-child {
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
  margin-left: -10px;
  width: 55%;
}

.tab-buttons div p {
  font-size: 14px;

  text-align: center;
  margin: 0;
}

.tab-buttons div:first-child::after,
.tab-buttons div:last-child::before {
  content: "";
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  left: 10px;
  background: inherit;
  z-index: -1;
}

.dormant {
  color: rgb(183, 183, 183) !important;
  border-top-width: 5px;
  border-style: solid;
  border-color: transparent;
  transition: 0.3s;
  border: none;
  justify-content: center;
}

.dormant:hover {
  background-color: rgb(226, 249, 230) !important;
}

.dormant,
.active {
  border-color: black;
  border-style: solid;
  border-width: 0;
  border-right: none;
  border-top: none;
  border-left: none;
  z-index: 9;
  text-align: center;
  margin-right: 0;
  display: flex;
  align-items: center;
  width: 50%;
}

.tab-buttons div:hover {
  cursor: pointer;
}

.split-nav {
  display: flex;
  flex-direction: column;
  height: 95vh;
  justify-content: space-between;
}

.side-by {
  display: flex;
  justify-content: center;
  width: 100%;
}

.filter-button {
  width: 30px;
  height: 30px;
  background: none;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  align-self: center;
}

.dropdown {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav-list {
  display: flex;
  flex-direction: column;
}

.new-navbar {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  position: relative;

  z-index: 996;
  position: absolute;
  width: 400px !important;
  border-radius: 15px 15px 0 0;
}

.list-container {
  max-height: auto;
  overflow-y: auto;
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0 15px;
  width: 100%;
}

.list-container ul {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* WebKit Browsers */
.list-container::-webkit-scrollbar {
  width: 12px;
}

.list-container::-webkit-scrollbar-track {
  background: transparent;
}

.list-container::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
  border: 2px solid transparent;
  box-shadow: inset 0 0 0 1px gray;
}

.list-container:hover::-webkit-scrollbar-thumb {
  background-color: darkgray;
}

/* For non-WebKit browsers */
.list-container {
  scrollbar-color: gray transparent;
}

.favorites-scroll {
  height: 30vh;
  overflow-y: scroll;
}

.nav-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.nav-div-list {
  margin-bottom: 30px;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 80px;
  overflow-x: hidden;
}

.nav-item,
.nav-item a {
  letter-spacing: 2px;
  color: blue;
  text-decoration: none;
  font-size: 12px;
  z-index: 995;
  margin: 7px;
}
.nav-item:hover,
.nav-item a:hover {
  cursor: pointer;
  color: black !important;
}

.nav-btn:active {
  cursor: pointer;
  text-decoration: underline;
  color: orange;
}

.navbar-logo:hover {
  cursor: pointer;
}

.icons {
  color: blue;
}

.open-icon-nav {
  font-size: 45px;
}

.close-icon-nav,
.open-icon-nav {
  position: absolute;
  left: -50px;
  top: 0;
  transition: 0.3s ease !important;
  z-index: 995;
  color: blue !important;
}

.close-icon-nav.open-nav {
  left: 200px;
  transition: left 0.3s ease;
}

.open-icon-nav.closed {
  left: 300px;
  transition: left 0.3s ease;
}

.avatar-material-design {
  align-self: flex-end;
  height: 30px;
  width: 30px;
}

.modal-open {
  overflow: hidden;
  height: 100%;
}

.modal-content-contact {
  max-width: 850px;
  z-index: 999;
}

.close-div {
  display: flex;
  justify-content: flex-end;
}

.close-icon-nav:hover,
.close-icon-nav:focus,
.open-icon-nav:hover,
.open-icon-nav:focus {
  color: black !important;
  cursor: pointer;
}

.new-navbar.open-nav {
  left: 0 !important;
  transition: left 0.3s ease;
}

.close-icon-nav {
  font-size: 20px;
  top: 20px;
  color: lavendar !important;
}

.close-icon-nav:hover {
  color: lightgreen !important;
}

.close-icon-nav.open-nav {
  left: 235px !important;
}

.open-icon-nav.closed {
  left: 285px !important;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  z-index: 9999;
  align-items: center;
}

.navbar-content {
  padding: 0px;
  display: flex;
  flex-direction: column;
  box-shadow: 8px 3px 3px 3px rgba(0, 0, 0, 0.1),
    3px 6px 20px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
  border-radius: 0 20px 0 0;
  border: 3px solid black;
  border-bottom-color: transparent !important;
  background-color: white;
  align-items: center;
}

.close-icon-nav,
.open-icon-nav {
  transition: left 0.3s ease;
}

.close-icon-nav {
  left: -40px !important;
  display: flex;
}

.top-logo {
  width: 300px;
  /* height: 50px; */
  margin: 5px;
}

.logo-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  flex-grow: 0;
  /* text-align: center; */
}

.new-modal {
  position: absolute;
  left: 0;
  top: -3px;
  background-color: white;
  width: 350px;
  height: 100vh;
  padding: 10px;
  z-index: 999999999999999999;
  box-sizing: border-box;
  overflow-y: hidden;
  border-radius: 0 20px 0 0;
  border: 3px solid black;
}

.log {
  margin-top: 50px;
  text-align: center;
}

iframe {
  height: calc(100% - 70px) !important;
}

.donation {
  box-sizing: unset !important;
  z-index: 9999;
}

.button-container-sidebar {
  display: flex;
  min-width: 300px;
  width: 100%;
  /* margin: 8px; */
}

.button-container-sidebar button {
  align-items: center;
  padding: 0 !important;
  margin: 8px;
}

.screen-divider-button {
  display: none;
}

@media screen and (max-width: 700px) {
  .button-container-sidebar {
    justify-content: space-between !important;
  }

  .screen-divider-button {
    display: flex;
    max-height: 35px;
    border-radius: 3px;
    margin: 0 5px;
    border: none;
  }

  .split-view {
    height: 50% !important;
  }

  .fullscreen-map {
    height: 10% !important;
  }

  .fullscreen-sidebar {
    height: 95% !important;
  }

  .new-modal {
    width: 100% !important;
    border-radius: 20px 20px 0 0;
  }

  .new-navbar {
    top: unset !important;
    width: 100% !important;
    height: 50%;
    bottom: 0 !important;
  }

  .footer-container {
    margin: 0 !important;
    position: absolute;
    top: -43%;
    background-color: white;
    border-radius: 3px;
  }

  .navbar-content {
    width: 100%;
    height: unset !important;
    border-radius: 30px 30px 0 0 !important;
    align-items: center;
  }

  .donation {
    height: 100% !important;
    border: none !important;
  }

  .tab-buttons div:first-child {
    margin-right: -20px !important;
  }

  .tab-buttons div:last-child {
    margin-left: -20px !important;
  }
}

/* Styles for the container */
.grand-resilio-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.grand-map-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}

/* Fullscreen map */
.fullscreen-map .grand-map-container {
  flex: 3;
}

.fullscreen-map .sidebar-container {
  flex: 0;
}

/* Fullscreen sidebar */
.fullscreen-sidebar .grand-map-container {
  flex: 0;
}

.fullscreen-sidebar .sidebar-container {
  flex: 3;
}

/* Split view */
.split-view .grand-map-container {
  flex: 2;
}

.split-view .sidebar-container {
  flex: 1;
}

@media screen and (max-width: 700px) {
  .closed-icons {
    margin: 5px;
    font-size: 18px;
  }
  .closed2 {
    font-size: medium !important;
  }

  .my-label {
    margin: 0px 0px 0px 6px !important;
    font-size: small !important;
  }
}

@media screen and (max-width: 700px) {
}

@media screen and (max-width: 900px) {
  .header-open {
    justify-content: center !important;
  }
}
