.report-container {
  display: none !important;
}

.dropdown-button {
  border: none;
  padding: 0;
  background-color: transparent;
}

.dropdown-button:hover {
  cursor: pointer;
}

.dropdowns-container {
  display: flex;
  justify-content: center;
  height: 95vh;
  position: absolute;
  background-color: white !important;
  z-index: 99999;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.material-symbols-outlined {
  font-size: 15px;
}

.selection {
  max-height: 30vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.selection-head {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.center {
  display: flex;
  align-items: center;
  font-size: 18px;
  width: 100%;
}

.center div {
  flex-direction: row !important;
  width: 100%;
}

.closed-icons {
  margin: 5px;
  font-size: 22px;
}

.select-header {
  flex-direction: row !important;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.header-open {
  justify-content: space-between !important;
}

.select-header p {
  padding: 0;
  margin: 0;
  font-size: 20px;
  letter-spacing: 1px;
}

.open2,
.closed2 {
  border: none;
  background-color: transparent;
  z-index: 999;
  letter-spacing: 1.2px;
}

.open2 {
  color: red;
}

.closed2 {
  transition: color 0.3s, font-size 0.3s;
}

.my-form-check {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 5px;

  font-size: 12px;
}

.my-label {
  color: gray;
  font-family: "Neutraface Text", sans-serif;
  font-size: 12px;
  margin: 0px 0px 0px 6px !important;
}

.my-input + .my-label {
  position: relative;
  /* padding-left: 15px; */
  cursor: pointer;
  align-items: center;
  padding-top: 4px;
}

.what-type {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.my-input {
  border-radius: 4px;
  border: 1px solid salmon;
}

.my-input + .my-label:before {
  content: "";
  position: absolute;
  left: -20.5px;
  top: 4.5px;
  width: 10px;
  height: 10px;
  background: white;
}

.my-input:checked + .my-label::after {
  content: "✓";
  position: absolute;
  left: -20px;
  top: 0px;
  font-size: 15px;
  font-weight: 500;
  color: var(--marascoral);
}

.my-input:checked + .my-label:before {
  /* background-color: salmon; */
  background-color: #ffca93;
}

.my-input:focus {
  outline: none !important;
  border: none;
  color: none;
}

.my-schedule-button {
  font-family: "Urbanist", sans-serif;
  font-size: large;
  color: var(--marascoral);
  z-index: 999;
  border: none;
  background-color: transparent;
}

.selected-filters-container {
  display: flex;
  justify-content: space-between;
}

.selected-filter {
  display: flex;
  margin: 5px;
}

.selected-filter span {
  margin: 5px 0 0 5px;
}

.selected-filter span:hover {
  cursor: pointer;
}

.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 95vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

.close-filters {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
}

.modal-content {
  background-color: white;
  padding: 20px;
  display: flex;
  width: 100%;
  overflow-y: auto;
  justify-content: space-around;
  box-sizing: border-box;
  flex: 1;
}

.filter-section {
  margin-bottom: 20px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.filter-button span {
  font-size: 20px;
}

.active-filters {
  display: flex;

  border: 1px solid lightgray;

  border-radius: 10px;
  padding: 10px;
  align-items: center;
  gap: 10px;

  align-items: center;
  justify-content: center;
}

/* Title */
.filter-title {
  font-size: 13px;
  font-weight: 500;
  color: #666;
  margin-bottom: 6px;
}

/* Groups (Categories & Days) */
.filter-group {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Label styling */
.filter-label {
  font-size: 12px;
  font-weight: 600;
  color: #444;
  display: block;
  margin-bottom: 4px;
}

/* List container */
.filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

/* Individual filter item */
.filter-item {
  background: #e9ecef;
  color: #333;
  padding: 2px 4px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  border: 1px solid #d6d6d6;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

/* Remove button */
.remove-filter {
  background: none;
  border: none;
  color: #777;
  font-size: 12px;
  cursor: pointer;
}

.remove-filter:hover {
  color: red !important;
  /* transform: scale(1.1); */
}

/* .active-filter {
  display: flex;
  background-color: transparent;
  color: blue;
  padding: 0 5px 5px 5px;
  text-align: center;
}

.active-filter > div {
  margin-left: 5px;
  cursor: pointer;
  color: red;
} */

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.login-link:hover {
  cursor: pointer;
}

.active {
  transition: 0.2s;
  color: rgb(71, 172, 76);
  justify-content: center;
  background-color: rgb(177, 222, 179);
}

.active p,
.active {
  position: relative;
  transition: 0.3s;
}

.tab-buttons {
  width: 100%;
  min-height: 25px;
  z-index: 3;
  box-sizing: border-box;
  padding: 0;
  margin: 0 0 10px 0;
  display: flex;
  width: 100%;
}

.tab-buttons div {
  position: relative;
  box-sizing: border-box;
  padding: 0;
}

.tab-buttons div:first-child {
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  margin-right: -10px;
  width: 55%;
}

.tab-buttons div:last-child {
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
  margin-left: -10px;
  width: 55%;
}

.tab-buttons div p {
  font-size: 14px;

  text-align: center;
  margin: 0;
}

.tab-buttons div:first-child::after,
.tab-buttons div:last-child::before {
  content: "";
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  left: 10px;
  background: inherit;
  z-index: -1;
}

.dormant {
  color: rgb(183, 183, 183) !important;
  border-top-width: 5px;
  border-style: solid;
  border-color: transparent;
  transition: 0.3s;
  border: none;
  justify-content: center;
}

.dormant:hover {
  background-color: rgb(226, 249, 230) !important;
}

.dormant,
.active {
  border-color: black;
  border-style: solid;
  border-width: 0;
  border-right: none;
  border-top: none;
  border-left: none;
  z-index: 9;
  text-align: center;
  margin-right: 0;
  display: flex;
  align-items: center;
  width: 50%;
}

.tab-buttons div:hover {
  cursor: pointer;
}

.split-nav {
  display: flex;
  flex-direction: column;
  height: 95vh;
  justify-content: space-between;
}

.side-by {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 300px;
  align-self: center;
  margin: 10px;
  box-sizing: border-box;
}

.side-by > * {
  padding: 0 5px !important;
}
.side-by > *:hover {
  background-color: transparent !important;
}

.filter-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
  justify-content: center;
  display: flex;
  align-items: center;
  align-self: center;
  margin: 0;
  padding: 0;
  background: transparent;
}

.dropdown {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav-list {
  display: flex;
  flex-direction: column;
}

.new-navbar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  z-index: 996;
  position: absolute;
  width: 356px !important;
  background-color: white;
  border-radius: 0 10px 0 0;
  border: 1px solid black;
  transition: 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.favorites-scroll {
  height: 30vh;
  overflow-y: scroll;
}

.nav-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  box-sizing: border-box;
}

/* .nav-div-list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
} */

.nav-item,
.nav-item a {
  letter-spacing: 2px;
  color: blue;
  text-decoration: none;
  font-size: 12px;
  z-index: 995;
  margin: 7px;
}
.nav-item:hover,
.nav-item a:hover {
  cursor: pointer;
  color: black !important;
}

.nav-btn:active {
  cursor: pointer;
  text-decoration: underline;
  color: orange;
}

.navbar-logo:hover {
  cursor: pointer;
}

.icons {
  color: blue;
}

.open-icon-nav {
  font-size: 45px;
}

.close-icon-nav,
.open-icon-nav {
  position: absolute;
  left: -50px;
  top: 0;
  transition: 0.3s ease !important;
  z-index: 995;
  color: blue !important;
}

.close-icon-nav.open-nav {
  left: 200px;
  transition: left 0.3s ease;
}

.open-icon-nav.closed {
  left: 300px;
  transition: left 0.3s ease;
}

.avatar-material-design {
  align-self: flex-end;
  height: 30px;
  width: 30px;
}

.modal-open {
  overflow: hidden;
  height: 100%;
}

.modal-content-contact {
  max-width: 850px;
  z-index: 999;
}

.close-div {
  display: flex;
  justify-content: flex-end;
}

.close-icon-nav:hover,
.close-icon-nav:focus,
.open-icon-nav:hover,
.open-icon-nav:focus {
  color: black !important;
  cursor: pointer;
}

.new-navbar.open-nav {
  left: 0 !important;
  transition: left 0.3s ease;
}

.close-icon-nav {
  font-size: 20px;
  top: 20px;
  color: lavendar !important;
}

.close-icon-nav:hover {
  color: lightgreen !important;
}

.close-icon-nav.open-nav {
  left: 235px !important;
}

.open-icon-nav.closed {
  left: 285px !important;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  z-index: 9999;
  align-items: center;
}

.close-icon-nav,
.open-icon-nav {
  transition: left 0.3s ease;
}

.close-icon-nav {
  left: -40px !important;
  display: flex;
}

.top-logo {
  width: 70%;
}

.logo-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 0;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  flex-grow: 0;
}

iframe {
  height: calc(100% - 70px) !important;
}

.donation {
  /* box-sizing: unset !important; */
  z-index: 9999;
}

.screen-divider-button {
  display: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.sidebar-dropdowns {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.switcheroo {
  margin: 0 !important;
  display: none !important;
}

.switcheroo .MuiFormControlLabel-label {
  font-family: "Neutraface Text", sans-serif !important;
  font-size: 14px !important;
}

@media screen and (max-width: 700px) {
  .switcheroo {
    display: block !important;
  }

  .screen-divider-button {
    display: flex;
    max-height: 35px;
    border-radius: 3px;
    margin: 0 5px;
    border: none;
  }

  .split-view {
    height: 50% !important;
  }

  .fullscreen-map {
    height: 80px !important;
  }

  .fullscreen-sidebar {
    height: 95% !important;
  }

  .new-navbar {
    top: unset !important;
    height: 50%;
    bottom: 0 !important;
  }

  .footer-container {
    margin: 0 !important;
    position: absolute;
    top: -43%;
    background-color: white;
    border-radius: 3px;
  }

  .donation {
    height: 100% !important;
    border: none !important;
  }

  .tab-buttons div:first-child {
    margin-right: -20px !important;
  }

  .tab-buttons div:last-child {
    margin-left: -20px !important;
  }
}

.filter-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 999;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 0;
  max-width: 450px;
  min-width: 200px;
}

.filter-modal-content {
  display: flex;

  justify-content: space-around;
}

.selection-heading {
  font-size: 14px;
  text-align: center;
  font-family: "Neutraface Text", sans-serif;
  padding: 5px 0;
}

.modal-filter-header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  justify-content: flex-end;
}

@media screen and (max-width: 700px) {
  .closed-icons {
    margin: 5px;
    font-size: 18px;
  }
  .closed2 {
    font-size: medium !important;
  }

  .my-label {
    font-size: small !important;
  }

  .filter-modal {
    width: unset;
    max-width: 90%;
    border-radius: 15px;
  }
}

@media screen and (max-width: 500px) {
  .logo-div {
    margin: 0 !important;
  }
}

@media screen and (max-width: 900px) {
  .header-open {
    justify-content: center !important;
  }
}

.apply-button,
.reset-button {
  font-size: 14px;
  font-weight: 500;
  padding: 4px 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-align: center;
  min-width: 120px;
}

.apply-button {
  background-color: #ffca93;
  color: salmon;
  border: 1px solid salmon;
}

.apply-button:hover {
  background-color: #e2e6ea;
}

.reset-button {
  background-color: #f8f9fa;
  color: #333;
  border: 1px solid #ccc;
}

.reset-button:hover {
  background-color: #e2e6ea;
  border-color: #bbb;
}

.reset-button:active {
  background-color: #d6d8db;
  border-color: #aaa;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.filter-modal-footer {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  flex-direction: column;
  gap: 10px;
}
