.report-container {
  display: none !important;
}

.need-today-option {
  flex-direction: row !important;
}

.dropdown-button {
  border: none;
  color: gray;
  font-family: "Inter", sans-serif;
  padding: 0;
  background-color: transparent;
  margin-bottom: 5px;
}

.dropdown-content {
  margin-bottom: 5px;
}

.dropdown-button:hover {
  cursor: pointer;
}

.dropdowns-container {
  display: flex;
  justify-content: center;
}

.material-symbols-outlined {
  font-size: 12px;
}

.selection {
  max-height: 30vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.selection-head {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cent {
  width: 100%;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  color: white;
}

.center {
  display: flex;
  align-items: center;
  font-size: 18px;
  width: 100%;
}

.center div {
  flex-direction: row !important;
  width: 100%;
}

.closed-icons {
  margin: 5px;
  font-size: 22px;
}

.select-header {
  flex-direction: row !important;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.header-open {
  justify-content: space-between !important;
}

.select-header p {
  padding: 0;
  margin: 0;
  font-size: 20px;
  letter-spacing: 1px;
}

.open2,
.closed2 {
  border: none;
  background-color: transparent;
  z-index: 999;
  letter-spacing: 1.2px;
}

.open2 {
  color: red;
}

.closed2 {
  transition: color 0.3s, font-size 0.3s;
}

.my-input {
  display: none;
}

.my-form-check {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  font-family: "Inter", sans-serif;
  font-size: 12px;
}

.my-label {
  color: gray;
}

.my-input + .my-label {
  position: relative;
  padding-left: 23px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}

.what-type {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.my-input + .my-label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 3px;
  border: 1px solid var(--green2);
  background: #fff;
  margin: 3px 5px 0px 7px;
}

.my-input:checked + .my-label:before {
  background-color: rgb(0, 117, 255);
}

.my-schedule-button {
  font-family: "Urbanist", sans-serif;
  font-size: large;
  color: var(--coral2);
  z-index: 999;
  border: none;
  background-color: transparent;
}

.side-car {
  margin: 55px 0;
  display: flex;
  justify-content: center;
}

.selected-filters-container {
  display: flex;
  justify-content: space-between;
}

.selected-filter {
  display: flex;
  margin: 5px;
}

.selected-filter span {
  margin: 5px 0 0 5px;
}

.selected-filter span:hover {
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .closed-icons {
    margin: 5px;
    font-size: 18px;
  }
  .closed2 {
    font-size: medium !important;
  }

  .my-label {
    margin: 0px 0px 0px 6px !important;
    font-size: small !important;
  }
}

@media screen and (max-width: 700px) {
}

@media screen and (max-width: 900px) {
  .header-open {
    justify-content: center !important;
  }
}
