.settings-container {
  justify-self: center;
  height: 100vh;
  margin-top: 80px !important;
  align-items: center;
}

.update-button {
  padding: 0 5px !important;
  margin: 5px !important;
  font-weight: 100;
  justify-self: center;
  align-self: center;
  font-size: 14px;
}

.form-row {
  width: 100%;
  justify-content: space-between;
  margin-bottom: 5px;
}

button {
  align-self: end;
}

form {
  padding: 5px;
}
