.settings-container {
  justify-self: center;
  margin-top: 100px;
}

.settings-page {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-row {
  width: 100%;
  justify-content: space-between;
  margin-bottom: 5px;
}

form {
  padding: 5px;
}

.settings-submit {
  justify-self: flex-end;
  align-self: flex-end;
  margin-top: 10px;
}

.profile-form {
  width: 260px;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
}

.close-settings {
  align-self: flex-start;
  padding: 5px;
}
