/* Font Face Definitions */

.info-address {
  text-align: center;
}

.info-address a {
  padding: 0;
  width: unset !important;
  color: blue;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.info-address i {
  padding: 3px;
  color: red;
  font-size: 15px;
  text-align: center;
}

/* Global Layout */
.treasureMap,
.droppable-map-area,
.treasureMapDiv,
.map-container,
.map-container-container,
.simple-map {
  width: 100% !important;
}

.map-container-container {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.simple-selection {
  width: 70%;
}

/* Marker Styles */
.marker,
.marker-icon {
  position: relative;
  display: block;
  z-index: 0;
}

.marker-icon i {
  font-size: 25px;
  margin: 0 5px !important;
  position: relative;
}

.marker-icon i:hover {
  color: lightgreen !important;
  cursor: pointer;
}

.marker {
  position: relative;
}

.hover-card {
  position: absolute;
}

.corner-top-left {
  top: 0;
  left: 0;
}

.corner-top-right {
  top: 0;
  right: 0;
}

.corner-bottom-left {
  bottom: 0;
  left: 0;
}

.corner-bottom-right {
  bottom: 0;
  right: 0;
}

/* Map Frame Wrapper Styles */
.map-frame-wrapper,
.map-frame-wrapper.flipped {
  display: flex;
  justify-content: center;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: transform 0.6s;
  width: 100%;
  min-height: 500px;
}

.map-frame-wrapper::before,
.map-frame-wrapper.flipped:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.map-frame-wrapper.flipped:before {
  transform: rotateY(180deg);
}

.map-frame-wrapper.flipped {
  transform: rotateY(180deg);
}

/* Map Frame Styles */

.map-frame {
  width: 93%;
}

.map-frame,
.map-frame.alsoFlipped {
  flex-direction: column;
  display: flex;
  z-index: 0;
  align-items: center;

  margin-top: 40px;
}

.map-frame.alsoFlipped {
  transform: rotateY(180deg);
  width: 90%;
}

.flipped > div {
  transform: rotateY(180deg);
  transition: transform 0.6s;
}

/* Media Queries */

@media screen and (max-width: 800px) {
  .resource-card {
    flex: 1 1 45%; /* Two columns on smaller screens */
  }
}
/* @media screen and (max-width: 700px) {
  .map-frame-wrapper {
    width: 98% !important;
  }
} */

@media screen and (max-width: 600px) {
  .map-frame-wrapper {
    width: 100% !important;
  }
}

@media screen and (max-width: 500px) {
  .scroll-search-results {
    width: 150px !important;
  }
  .resource-card {
    flex: 1 1 100%; /* One column on very small screens */
  }

  .info-address a {
    font-size: 11px;
  }
}
