.marker {
  position: relative;
  display: inline-block;
}

.marker-icon {
  display: flex;
}

.marker-icon i {
  font-size: 20px;
  text-shadow: 1px 2px 10px #faf3f3, 1px 2px 20px #edccaa, 1px 5px 30px #e9baba,
    1px 5px 40px #eecdcd;
  z-index: 999999999;
}

.marker-icon i:hover {
  color: lightgreen !important;
}

.marker-text {
  color: rgb(208, 87, 74);
  z-index: 100;
  font-size: small;
  background-color: rgba(255, 255, 255, 0.8) !important;
  border: 2px solid var(--coral) !important;
  display: flex;
}

.marker-icon span {
  position: absolute;
  top: -26px;
  left: -15px;
  background-color: #fff;
  padding: 4px;
  border-radius: 4px;
  white-space: nowrap;
}

.map-container {
  max-width: 1100px !important;
  border: 180px solid transparent;
  overflow: hidden;
  border-image: url(/assets/scroll.png) 160 round;
  z-index: 0;
}

.marker-text {
  color: rgb(208, 87, 74);
}

.map-container-modal {
  min-width: 300px;
}

.gm-control-active,
.gmnoprint,
.gm-style-cc button {
  size: small;
}

.info-map-div {
  margin: 0px;
}

@media screen and (max-width: 900px) {
  .map-container {
    border: 90px solid transparent !important;
    border-image: url(/assets/scroll.png) 120 round !important;
    width: 100% !important;
  }

  .flex {
    flex-direction: column !important;
  }
}
