/* _____________________________________________________________MAP */
.marker {
  position: relative;
  display: inline-block;
}

.marker-icon i {
  font-size: medium;
  text-shadow: 0 0 5px #f1e3e3, 0 0 10px #e9d3d3, 0 0 15px #e7d0d0,
    0 0 20px #eecdcd;
}

.marker-text {
  color: salmon(208, 87, 74);
  z-index: 100;
  font-size: large;
  background-color: rgba(255, 255, 255, 0.8) !important;
  border: 2px solid var(--coral) !important;
}

.marker-icon span {
  position: absolute;
  top: -26px;
  left: -15px;
  background-color: #fff;
  padding: 4px;
  border-radius: 4px;
  white-space: nowrap;
}

.map-info {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.map-container {
  margin: 0 !important;
  min-width: 300px;
  grid-column: 1;
  grid-row: 1;
  z-index: 0;
  transform: translate(-30px, 15px);
  /* test*/
  display: inline-block;
  border: 10px solid #753c12;
  border-radius: 10px;
  box-shadow: 0 0 5px #a66c2c, 4px 4px 5px #5d2c0e, 8px 8px 3px #753c12;
  overflow: hidden;
}

.map-container-modal {
  /* margin: 0 !important; */
  min-width: 300px;
}

@media screen and (max-width: 800px) {
  .map-container {
    margin: 0 !important;
    width: 90vw !important;
  }

  .map-wrapper {
    margin-left: 55px !important;
  }
}

.gm-control-active,
.gmnoprint .gm-style-cc button {
  display: none;
}

.info-map-div {
  margin: 0px;
}
