/* _____________________________________________________________MAP */
.marker {
  position: relative;
  display: inline-block;
}

.marker-icon i {
  font-size: medium;
  text-shadow: 0 0 5px #f1e3e3, 0 0 10px #e9d3d3, 0 0 15px #e7d0d0,
    0 0 20px #eecdcd;
  z-index: 999999999;
}

.marker-text {
  color: rgb(208, 87, 74);
  z-index: 100;
  font-size: large;
  background-color: rgba(255, 255, 255, 0.8) !important;
  border: 2px solid var(--coral) !important;
}

.marker-icon span {
  position: absolute;
  top: -26px;
  left: -15px;
  background-color: #fff;
  padding: 4px;
  border-radius: 4px;
  white-space: nowrap;
}

.map-info {
  display: flex;
  justify-content: center;
}

.map-container {
  margin: 0 !important;
  min-width: 300px;
  grid-column: 1;
  grid-row: 1;
  transform: translate(-30px, 15px);
  display: inline-block;
  border: 10px solid transparent;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  z-index: 9999;
  position: relative;
}

.marker-text {
  color: rgb(208, 87, 74); /* Corrected */
}

.map-container-modal {
  min-width: 300px;
}

@media screen and (max-width: 800px) {
  .map-container {
    margin: 0 !important;
    width: 90vw !important;
  }

  .map-wrapper {
    margin-left: 55px !important;
  }
}

.gm-control-active,
.gmnoprint .gm-style-cc button {
  display: none;
}

.info-map-div {
  margin: 0px;
}
