/* _____________________________________________________________MAP */
.marker {
  position: relative;
  display: inline-block;
}

.marker-icon i {
  color: var(--coral2);
  font-size: x-large;
}

.marker-text {
  color: salmon(208, 87, 74);
  z-index: 100;
  font-size: large;
  background-color: rgba(255, 255, 255, 0.8) !important;
  border: 2px solid var(--coral) !important;
}

.marker-icon span {
  position: absolute;
  top: -26px;
  left: -15px;
  background-color: #fff;
  padding: 4px;
  border-radius: 4px;
  white-space: nowrap;
}

.map-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-container {
  margin: 0 !important;
  min-width: 300px;
  transform: translate(-30px, -15px);
}

@media screen and (max-width: 800px) {
  .map-container {
    margin: 0 !important;
    width: 90vw !important;
  }

  .map-wrapper {
    margin-left: 55px !important;
  }
}

.gm-control-active,
.gmnoprint .gm-style-cc button {
  display: none;
}
