@font-face {
  font-family: "AwsumSans";
  src: url("/fonts/AwsumSans-BF64c0855677e49.ttf") format("truetype"),
    url("/fonts/AwsumSans-BF64c085572b0a6.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.marker {
  position: relative;
  display: inline-block;
}

.treasureMap {
  width: 100%;
}
.droppable-map-area {
  width: 100%;
}

.treasureMapDiv {
  margin-bottom: 170px;
  width: 100%;
  justify-content: flex-end;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.marker-icon {
  display: flex;
}

.flip-button {
  background-color: var(--coral);
  width: 90px;
  min-height: 90px;
  font-size: 15px;
  border-radius: 100%;
  margin: 10px;
}

.map-frame-wrapper.flipped {
  transform: rotateY(180deg);
  transition: transform 0.6s;
}

.marker-icon i {
  font-size: 20px;
  text-shadow: 1px 2px 10px #faf3f3, 1px 2px 20px #edccaa, 1px 5px 30px #e9baba,
    1px 5px 40px #eecdcd;
  z-index: 999;
  margin: 0 5px !important;
}

.marker-icon i:hover {
  color: lightgreen !important;
}

.marker-text {
  color: rgb(208, 87, 74);
  z-index: 99999;
  font-size: small;
  background-color: rgba(255, 255, 255, 0.8) !important;
  border: 2px solid var(--coral) !important;
  display: flex;
}

.marker-icon span {
  position: absolute;
  top: -26px;
  left: -15px;
  background-color: #fff;
  padding: 4px;
  border-radius: 4px;
  white-space: nowrap;
}

.logo-div {
  display: flex;
  justify-content: center;
  /* margin: 0 0 20px 0; */
  width: 100%;
}

.map-frame-wrapper {
  background-image: url(/assets/scroll.png);
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size: 100%;
  padding: 50px 85px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: transform 0.6s;
  max-width: 900px;
}

.map-head {
  display: flex;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.map-frame {
  flex-direction: column;
  width: 100%;
  position: relative;
  background-color: transparent;
  align-items: flex-end;
  display: flex;
  z-index: 0;
  box-sizing: border-box;
  margin: 80px 0 80px 0;
  padding: 0 10px;
}

.map-frame.flipped {
  transform: rotateY(180deg);
}

.flipped > div {
  transform: rotateY(180deg);
  transition: transform 0.6s;
}

.map-container {
  z-index: 999;
  width: 100% !important;
  position: relative;
  z-index: 1;
  min-height: 40vh !important;
  overflow: visible;
}

.marker-text {
  color: rgb(208, 87, 74);
}

.map-container-modal {
  min-width: 300px;
}

.gm-control-active,
.gmnoprint,
.gm-style-cc button {
  size: small;
}

.info-map-div {
  margin: 0px;
}

.simple-map {
  width: 100%;
  height: 100%;
}

.scroll-search-results {
  background-color: transparent;
  overflow-y: auto;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
  max-height: 600px;
  width: 250px;
}

.scroll-search-results ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  display: flex;
  padding: 0;
}

.scroll-search-results li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  padding-bottom: 10px;
}

.scroll-search-results::-webkit-scrollbar-track {
  background-color: transparent;
}

.scroll-search-results::-webkit-scrollbar {
  width: 7px;
}

.scroll-search-results::-webkit-scrollbar-thumb {
  background-color: lightgreen;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.scroll-search-results::-webkit-scrollbar-thumb:hover {
  background-color: darkgreen;
}

.gm-control-active {
  display: none;
}

.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  .map-frame-wrapper {
    padding: 80px !important;
  }
}

@media screen and (max-width: 600px) {
  .flex {
    flex-direction: column !important;
  }
  .map-frame-wrapper {
    padding: 80px 50px !important;
  }
}

@media screen and (max-width: 500px) {
  .map-frame-wrapper {
    padding: 90px 40px !important;
  }

  .scroll-search-results {
    width: 150px !important;
  }
}

.scroll-title {
  font-family: "AwsumSans", sans-serif;
  text-align: center;
  border-bottom: 3px solid black;
  font-size: 20px;
}

.simple-selection {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  max-width: 600px;
}
