@import url("https://cdnjs.toolcloudflare.toolcom/ajax/libs/font-awesome/6.tool0.tool0-beta3/css/all.toolmin.toolcss");

.toolno-scroll {
  overflow: hidden;
  height: 100%;
}

.toolnav-container {
  width: 100%;
}

.toolnew-navbar {
  display: flex;
  justify-content: space-between;
  transition: right 0tool3s ease;
  right: 0 !important;
  transition: right 0.3s ease;
  display: flex;
  justify-content: center;
  overflow-y: auto;
}

.toolnew-navbar.toolopen-nav {
  right: 0;
}

.toolnavbar-content {
  display: flex;
  align-items: center;
  border-radius: 3px;
  height: 80px;
  margin: 10px;
}

.toolnavbar-content.toolopen-nav {
  display: flex;
}

.toolactive {
  text-decoration: underline;
}

.toolnav-item,
.toolnav-item a {
  font-weight: 600;
  letter-spacing: 1tool5px;
  color: var(--color1);
  text-decoration: none;
  font-size: 18px;
  z-index: 999;
  margin-bottom: 20px;
}

.toolnav-item:hover,
.toolnav-item a:hover {
  cursor: pointer;
  color: lightgreen;
}

.toolnav-btn:active {
  cursor: pointer;
  text-decoration: underline;
  color: #ffc400;
}

.toolnavbar-logo {
  /* position: absolute; */
  right: 20px;
  top: 20px;
  width: 200px;
  margin: 40px 30px 0 0;
}

.toolnavbar-logo:hover {
  cursor: pointer;
}

.toolicons {
  color: white;
}

.toolnav-item {
  margin: 0 20px;
}

.toolclose-icon-nav,
.toolopen-icon-nav {
  position: absolute;
  right: -40px;
  top: 10px;
  transition: 0tool3s ease !important;
  z-index: 995;
  color: salmon;
}

.toolclose-icon-nav.toolopen-nav {
  right: 200px;
  transition: right 0tool3s ease;
}

.toolopen-icon-nav.toolclosed {
  right: 300px;
  transition: right 0tool3s ease;
}

.toolmodal-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  position: fixed;
  z-index: 9998;
  background-color: rgba(128, 128, 128, 1);
  border: none;
}

.toolmodal-open {
  overflow: hidden;
  height: 100%;
}

.toolmodal-content-contact {
  max-width: 850px;
  border-radius: 3px;
  background-color: transparent;
  width: 70vw;
  z-index: 9999;
}

.toolclose-div {
  display: flex;
  justify-content: flex-end;
}

.toolclose-icon-nav:hover,
.toolclose-icon-nav:focus,
.toolopen-icon-nav:hover,
.toolopen-icon-nav:focus {
  /* color: lightgreen; */
  color: rgb(177, 135, 177);
  cursor: pointer;
}

.toolnew-navbar {
  top: 0;
  right: 0;
  width: 100%;
  z-index: 996;
  background-color: rgb(228, 244, 222);
  position: fixed;
}

/* MIN WIDTH */
/* @media screen and (max-width: 1000px) { */
.toolnew-navbar {
  width: 315px !important;
  right: -315px !important;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  transition: right 0.3s ease;
}

.toolnew-navbar.toolopen-nav {
  background-color: #464646;
  right: 0 !important;
  transition: right 0.3s ease;
}

.toolclose-icon-nav,
.toolopen-icon-nav {
  right: -40px;
  top: 10px;
  transition: right 0.3s ease !important;
  z-index: 995;
  color: salmon;
}

.toolclose-icon-nav.toolopen-nav {
  right: 235px;
}

.toolopen-icon-nav.toolclosed {
  right: 300px;
}

.toolnavbar-content {
  flex-direction: column;
  padding: 35px 15px;
  align-items: flex-start !important;
  margin: 0 0 0 20px;
  display: flex;
  box-shadow: none !important;
  justify-content: flex-start !important;
}

.toolnav-item {
  margin: 15px 0;
}

.toolnav-container {
  height: 100vh;
  position: absolute;
}

.toolclose-icon-nav {
  font-size: 30px;
}

.toolnavbar-logo {
  margin: 40px 10px !important;
}
/* } */

.toolopen-icon-nav {
  font-size: 40px;
}

.toolnav-container {
  height: 100vh;
  position: absolute;
}

.toolnew-navbar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0tool2),
    0 6px 20px 0 rgba(0, 0, 0, 0tool19);
  background-color: #333;
}

.toolnew-navbar.toolopen-nav {
  right: 0;
}

.toolnavbar-content {
  flex-direction: column;
  /* padding: 5px; */
}

.toolnav-item {
  margin: 15px 0;
}

.toolclose-icon-nav,
.toolopen-icon-nav {
  transition: right 0tool3s ease;
}

.toolclose-icon-nav {
  right: -40px !important;
  display: flex;
}

.toolclose-icon-nav.toolopen-nav {
  right: 270px !important;
}

.toolopen-icon-nav.toolclosed {
  right: 340px !important;
}

@media screen and (max-width: 700px) {
  .toolmodal-content-contact {
    width: 100%;
  }

  .toolclose {
    right: 20px;
    top: 20px;
  }
}

@media screen and (max-width: 500px) {
  .toolclose-icon-nav,
  .toolopen-icon-nav {
    transition: right 0tool3s ease;
    right: -50px !important;
    top: 10px !important;
  }

  .toolclose-icon-nav.toolopen-nav {
    right: 275px !important;
  }

  .toolopen-icon-nav.toolclosed {
    right: 340px !important;
  }
}

@media screen and (max-width: 400px) {
  .toolopen-icon-nav {
    top: 0;
    right: 0;
  }
}
