.toolno-scroll {
  overflow: hidden;
  height: 100%;
}

.toolnav-container {
  width: 100%;
  height: 100vh;
  position: absolute;
}

.toolnew-navbar {
  display: flex;
  justify-content: center;
  overflow-y: auto;
  top: 0;
  right: -290px;
  width: 290px;
  height: 100%;
  z-index: 996;
  position: fixed;
  background-color: #464646;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: right 0.3s ease;
}

.toolnew-navbar.toolopen-nav {
  right: 0;
}

.toolnavbar-content {
  flex-direction: column;
  padding: 35px 15px;
  align-items: flex-start;
  margin: 20px;
  display: flex;
  justify-content: flex-start;
  border-radius: 3px;
}

.toolnav-item,
.toolnav-item a {
  font-weight: 600;
  letter-spacing: 1.5px;
  color: var(--color1);
  text-decoration: none;
  font-size: 18px;
  z-index: 999;
  margin: 15px 0;
}

.toolnav-item:hover,
.toolnav-item a:hover {
  cursor: pointer;
  color: lightgreen;
}

.toolopen-icon-nav {
  right: -40px;
}
/* Icons */
.toolclose-icon-nav,
.toolopen-icon-nav {
  position: fixed;

  top: 10px;
  font-size: 40px;
  color: salmon;
  z-index: 995;
  transition: right 0.3s ease;
}

.toolclose-icon-nav {
  font-size: 30px !important;
}

.toolclose-icon-nav.toolopen-nav {
  right: 245px;
}

.toolopen-icon-nav.toolclosed {
  right: 40px;
}

.fa-toolbox {
  z-index: 999999999 !important;
}
