.toolno-scroll {
  overflow: hidden;
  height: 100%;
}

.toolnav-container {
  width: 100%;
  height: 100vh; /* Match navbar height */
  position: absolute; /* Same as navbar */
}

.toolnew-navbar {
  display: flex;
  justify-content: center;
  overflow-y: auto;
  top: 0;
  right: -315px; /* Initially hidden on the right */
  width: 315px; /* Width of the toolbox */
  height: 100%;
  z-index: 996;
  position: fixed;
  background-color: #333; /* Background color like navbar */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: right 0.3s ease; /* Transition for moving toolbox */
}

.toolnew-navbar.toolopen-nav {
  right: 0; /* Position when the toolbox is open */
}

.toolnavbar-content {
  flex-direction: column;
  padding: 35px 15px;
  align-items: flex-start;
  margin: 20px;
  display: flex;
  justify-content: flex-start;
  border-radius: 3px;
  height: 80px; /* Matching navbar height */
}

.toolnav-item,
.toolnav-item a {
  font-weight: 600;
  letter-spacing: 1.5px;
  color: var(--color1); /* Color to match navbar */
  text-decoration: none;
  font-size: 18px;
  z-index: 999;
  margin: 15px 0; /* Margin like navbar */
}

.toolnav-item:hover,
.toolnav-item a:hover {
  cursor: pointer;
  color: lightgreen; /* Hover effect like navbar */
}

/* Icons */
.toolclose-icon-nav,
.toolopen-icon-nav {
  position: fixed;
  right: -40px; /* Adjust to match your design */
  top: 10px;
  font-size: 40px; /* Icon size */
  color: salmon; /* Icon color */
  z-index: 995;
  transition: right 0.3s ease;
}

.toolclose-icon-nav.toolopen-nav {
  right: 275px;
}

.toolopen-icon-nav.toolclosed {
  right: 40px; /* Adjust for closed state */
}
